/*
    This is the main css file for all SMART tag Parent Portal files. The structure of our CSS files are explained below.
    Our structure loosely follows the patterns suggested here: http://thesassway.com/beginner/how-to-structure-a-sass-project

    /
    |   #modules is reserved for sass files that do not cause Sass to actually output css files
    |--/st-modules
    |   |-- _all.scss                   #include this file to include all modules
    |   |-- _st-utility.scss            #base utitlity class variables are defined here
    |   |-- _st-mixins.scss             #reusable mixins are created here
    |   |-- _st-colors.scss             #all of the available colors to the ui are defined here
    |   |-- _st-fonts.scss              #fonts and font utilities used throughout the SMART tag portals are defined here
    |
    |
    |   #this section is where any custom components built will live
    |--/st-components
    |   |-- _all.scss                   #include this file to include all components
    |   |-- _st-loader.scss             #custom animated loader, mainly used on ajax calls
    |   |-- _st-switch.scss             #custom toggle/switch built with accessibility in mind
    |   |-- _st-modal.scss              #modifies some basic styling of the Bootstrap modal. Use with the st-modal.js script
    |
    |
    |   #this is where most of our styles are defined
    |--/st-partials
    |   |-- _base.scss                  #imports all the necessary modules and custom components
    |   |-- _bootstrap-overrides.scss   #override any bootstratp defaults here
    |   |-- _st-typography.scss         #sets the base for typographic opinions for SMART tag
    |   |-- _st-forms.scss              #SMART tag styling of forms is done here
    |
    |
    |--smart-tag-parent-styles.scss     #this is the final file that gets created. all necessary partials, components, and modules will be output to this file
    |
    /
*/
/*
    This is the base file where majority of SMART tag's default styling is set
    We include all modules and components here
*/
/* -----------------------

      SMART tag COLORS

   ----------------------- */
/* WHITE */
/* YELLOWS */
@import url("https://fonts.googleapis.com/css?family=Heebo:400,500,700&display=optional");
.text-yellow-200 {
  color: #f7e6bf; }

.text-yellow-300 {
  color: #f7dca1; }

.text-yellow-400 {
  color: #ffc655; }

.text-yellow-500 {
  color: #ffb000; }

.text-yellow-600 {
  color: #bf7600; }

.text-yellow-700 {
  color: #7f4909; }

.text-yellow-800 {
  color: #4c2906; }

.bg-yellow-200 {
  background-color: #f7e6bf; }

.bg-yellow-300 {
  background-color: #f7dca1; }

.bg-yellow-400 {
  background-color: #ffc655; }

.bg-yellow-500 {
  background-color: #ffb000; }

.bg-yellow-600 {
  background-color: #bf7600; }

.bg-yellow-700 {
  background-color: #7f4909; }

.bg-yellow-800 {
  background-color: #4c2906; }

/* GRAYS */
.text-gray-200 {
  color: #e5e3df; }

.text-gray-300 {
  color: #aaa8a7; }

.text-gray-400 {
  color: #757574; }

.text-gray-500 {
  color: #5b5a57; }

.text-gray-600 {
  color: #3f3f3d; }

.text-gray-700 {
  color: #2d2c2b; }

.text-gray-800 {
  color: #161616; }

.bg-gray-200 {
  background-color: #e5e3df; }

.bg-gray-300 {
  background-color: #aaa8a7; }

.bg-gray-400 {
  background-color: #757574; }

.bg-gray-500 {
  background-color: #5b5a57; }

.bg-gray-600 {
  background-color: #3f3f3d; }

.bg-gray-700 {
  background-color: #2d2c2b; }

.bg-gray-800 {
  background-color: #161616; }

/* BLUES */
.text-blue-200 {
  color: #aacfe8; }

.text-blue-300 {
  color: #6eaae5; }

.text-blue-400 {
  color: #4389ed; }

.text-blue-500 {
  color: #275fff; }

.text-blue-600 {
  color: #0c3daa; }

.text-blue-700 {
  color: #002984; }

.text-blue-800 {
  color: #031442; }

.bg-blue-200 {
  background-color: #aacfe8; }

.bg-blue-300 {
  background-color: #6eaae5; }

.bg-blue-400 {
  background-color: #4389ed; }

.bg-blue-500 {
  background-color: #275fff; }

.bg-blue-600 {
  background-color: #0c3daa; }

.bg-blue-700 {
  background-color: #002984; }

.bg-blue-800 {
  background-color: #031442; }

/* REDS */
/* GREENS */
/* -----------------------

    END SMART tag COLORS

   ----------------------- */
/* -----------------------

    IMPORT FONT FAMILIES

   ----------------------- */
/* Heebo */
/* Ensure all <i> with the "fa" class use the FontAwesome font */
i.fa {
  font-family: FontAwesome; }

.st-semi-bold {
  font-weight: 500; }

/* media-breakpoint-down applies to the given screen size or bigger  */
/* media-breakpoint-down applies to the given screen size or smaller  */
/* media-breakpoint-only applies to the given screen size  */
/*  ----------------------------------------
    This file contains general reusable uitilities
    We try to keep the styling minimal here to ensure the utitility classes are as reusable as possible
    ---------------------------------------- */
/* -----------------------

    SMART TAG UTILITIES

   ----------------------- */
.st-shadow-sm {
  box-shadow: 0 1px 2px #757574; }

.st-text-small {
  font-size: .8rem;
  line-height: 1rem; }

.st-bg-cover {
  background-size: cover;
  min-height: 100vh; }

.flex-even {
  flex: 1; }

@media (max-width: 991.98px) {
  .border-right-lg-none {
    border-right: none !important; } }

@media (min-width: 1200px) {
  .border-bottom-xl-none {
    border-bottom: none !important; } }

/* -----------------------

CUSTOM CHECK BOXES

   ----------------------- */
/* HIDE RADIO */
fieldset.st-custom-checkbox-weekdays {
  width: 100%; }

label.st-custom-checkbox-label {
  position: relative; }

fieldset.st-custom-checkbox-weekdays .st-custom-checkbox-label {
  box-sizing: border-box;
  width: 18%; }

.st-custom-checkbox {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
  margin: 0;
  padding: 0; }

.st-custom-checkbox ~ i {
  position: absolute;
  right: .3rem;
  top: .3rem;
  color: #fce6b1;
  display: none; }

/* CHECKED STYLES */
.st-custom-checkbox:checked ~ i {
  display: inline;
  font-size: .8rem; }

/* IMAGE STYLES */
.st-custom-checkbox + span {
  cursor: pointer;
  border: 1px solid #007BFF;
  font-size: 1.25rem;
  padding: 0;
  margin: 0;
  display: inline-block;
  text-align: center;
  color: #007BFF;
  width: 100%;
  height: 60px;
  box-sizing: border-box;
  line-height: 56px;
  vertical-align: middle;
  border-radius: .25rem; }

label:first-child + span {
  border-radius: .25rem 0 0 .25rem; }

label:last-child + span {
  border-radius: 0 .25rem .25rem 0; }

/* CHECKED STYLES */
.st-custom-checkbox:checked + span {
  background: #007BFF;
  color: #fff; }

/* IMAGE STYLES */
.st-custom-checkbox + span:hover {
  -webkit-box-shadow: 0 0 8px rgba(0, 123, 255, 0.6) !important;
  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow: 0 0 8px rgba(0, 123, 255, 0.6) !important;
  /* Firefox 3.5 - 3.6 */
  box-shadow: 0 0 8px rgba(0, 123, 255, 0.6) !important;
  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
  border-color: #0069d9; }

/* IMAGE STYLES */
.st-custom-checkbox:checked + span:hover {
  -webkit-box-shadow: 0 0 8px rgba(0, 123, 255, 0.6) !important;
  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow: 0 0 8px rgba(0, 123, 255, 0.6) !important;
  /* Firefox 3.5 - 3.6 */
  box-shadow: 0 0 8px rgba(0, 123, 255, 0.6) !important;
  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
  background: #007BFF; }

/* IMAGE STYLES */
.st-custom-checkbox:focus + span:hover {
  -webkit-box-shadow: 0 0 8px rgba(0, 123, 255, 0.6) !important;
  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow: 0 0 8px rgba(0, 123, 255, 0.6) !important;
  /* Firefox 3.5 - 3.6 */
  box-shadow: 0 0 8px rgba(0, 123, 255, 0.6) !important;
  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */ }

/* IMAGE STYLES */
.st-custom-checkbox:focus + span {
  -webkit-box-shadow: 0 0 8px rgba(0, 123, 255, 0.6) !important;
  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow: 0 0 8px rgba(0, 123, 255, 0.6) !important;
  /* Firefox 3.5 - 3.6 */
  box-shadow: 0 0 8px rgba(0, 123, 255, 0.6) !important;
  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */ }

/* -----------------------

CUSTOM RADIO IMAGE BUTTONS


   ----------------------- */
label.st-custom-radio-img-label {
  position: relative;
  display: inline-block; }

label.st-custom-radio-img-label:hover {
  -webkit-box-shadow: 0 0 8px rgba(0, 123, 255, 0.6) !important;
  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow: 0 0 8px rgba(0, 123, 255, 0.6) !important;
  /* Firefox 3.5 - 3.6 */
  box-shadow: 0 0 8px rgba(0, 123, 255, 0.6) !important;
  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
  border-color: #0069d9;
  cursor: pointer; }

/* HIDE RADIO */
.st-custom-img-radio {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0; }

/* IMAGE STYLES */
.st-custom-img-radio + img {
  cursor: pointer;
  border: 1px solid #007BFF;
  border-radius: .25rem;
  padding: 10px 40px 35px 40px;
  pointer-events: none;
  -moz-user-select: -moz-none; }

/* CHECKED STYLES */
.st-custom-img-radio:checked + img {
  background: #007BFF;
  display: inline-block;
  pointer-events: none;
  -moz-user-select: -moz-none; }

/* IMAGE STYLES */
.st-custom-img-radio + img:hover {
  -webkit-box-shadow: 0 0 8px rgba(0, 123, 255, 0.6) !important;
  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow: 0 0 8px rgba(0, 123, 255, 0.6) !important;
  /* Firefox 3.5 - 3.6 */
  box-shadow: 0 0 8px rgba(0, 123, 255, 0.6) !important;
  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
  border-color: #0069d9;
  cursor: pointer; }

/* IMAGE STYLES */
.st-custom-img-radio:checked + img:hover {
  -webkit-box-shadow: 0 0 8px rgba(0, 123, 255, 0.6) !important;
  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow: 0 0 8px rgba(0, 123, 255, 0.6) !important;
  /* Firefox 3.5 - 3.6 */
  box-shadow: 0 0 8px rgba(0, 123, 255, 0.6) !important;
  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
  background: #007BFF;
  cursor: pointer; }

/* IMAGE STYLES */
.st-custom-img-radio:focus + img:hover {
  -webkit-box-shadow: 0 0 8px rgba(0, 123, 255, 0.6) !important;
  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow: 0 0 8px rgba(0, 123, 255, 0.6) !important;
  /* Firefox 3.5 - 3.6 */
  box-shadow: 0 0 8px rgba(0, 123, 255, 0.6) !important;
  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
  cursor: pointer; }

.st-custom-img-radio ~ i {
  position: absolute;
  right: .3rem;
  top: .3rem;
  color: #fce6b1;
  display: none;
  font-size: 1.2rem; }

/* CHECKED STYLES */
.st-custom-img-radio:checked ~ i {
  display: inline; }

.st-custom-img-radio ~ span {
  position: absolute;
  bottom: .3rem;
  color: #007BFF;
  display: block;
  width: 100%;
  text-align: center; }

.st-custom-img-radio ~ span:hover {
  cursor: pointer; }

/* CHECKED STYLES */
.st-custom-img-radio:checked ~ span {
  color: #fff; }

/* ICONS */
.st-icon-lg {
  max-width: 48px;
  max-height: 48px; }

.st-icon-md {
  max-width: 32px;
  max-height: 32px; }

.st-icon-sm {
  max-width: 24px;
  max-height: 24px; }

.st-icon-xs {
  max-width: 16px;
  max-height: 16px; }

.st-loader-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  text-align: center;
  /* Fallback for web browsers that don't support RGBa */
  background-color: white;
  /* RGBa with 0.6 opacity */
  background-color: rgba(255, 255, 255, 0.6);
  /* For IE 5.5 - 7*/
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#99FFFFFF, endColorstr=#99FFFFFF);
  /* For IE 8*/
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99FFFFFF, endColorstr=#99FFFFFF)"; }

.st-loader-wrapper {
  width: 65px;
  height: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative; }

.st-loader-circle {
  width: 15px;
  height: 15px;
  margin-right: 10px;
  background: transparent;
  border-radius: 10px;
  animation: st-loader-animation 1.5s infinite alternate; }

.st-loader-circle:nth-child(2) {
  animation-delay: .3s; }

.st-loader-circle:nth-child(3) {
  margin-right: 0;
  animation-delay: .6s; }

@keyframes st-loader-animation {
  to {
    background: #6eaae5; } }

/*@keyframes progress-circle {
    0% {
        transform: translateY(-50%) rotate(0);
    }

    100% {
        transform: translateY(-50%) rotate(1turn);
    }
}

.loading-circle {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #F0F2F4;
    overflow: hidden;

    &::before {
        content: " ";
        display: block;
        position: absolute;
        background-color: $yellow-400;
        top: 0px;
        left: 0px;
        right: 0px;
        bottom: 0px;
        transform: translateY(-100%);
        transform-origin: center bottom;
        animation: progress-circle 1s cubic-bezier(0.57, 0.13, 0.49, 0.94) infinite;
    }

    &::after {
        content: " ";
        display: block;
        position: absolute;
        background-color: white;
        top: 4px;
        left: 4px;
        right: 4px;
        bottom: 4px;
        border-radius: 50%;
    }
}*/
.st-spinner-background {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  text-align: center;
  /* Fallback for web browsers that don't support RGBa */
  background-color: white;
  /* RGBa with 0.6 opacity */
  background-color: rgba(255, 255, 255, 0.6);
  /* For IE 5.5 - 7*/
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#99FFFFFF, endColorstr=#99FFFFFF);
  /* For IE 8*/
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99FFFFFF, endColorstr=#99FFFFFF)"; }

/*
    This file is for the styling of the custom SMART tag modals
*/
.modal.fade {
  opacity: 1; }

.modal.fade .modal-dialog {
  -webkit-transform: translate(0);
  -moz-transform: translate(0);
  transform: translate(0); }

.modal-dialog.animated {
  -webkit-animation-duration: 0.2s;
  animation-duration: 0.2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

.modal-backdrop {
  display: none; }

.modal-backdrop-transparent {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: transparent;
  opacity: 0;
  width: 100%;
  height: 100%;
  z-index: -1000; }

.modal-backdrop-primary {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 0.6;
  width: 100%;
  height: 100%;
  z-index: 1040; }

.modal-transition {
  transition: all 0.4s ease; }

.modal-content {
  box-shadow: 0 2px 4px rgba(68, 68, 68, 0.6) !important;
  border: none !important; }

.st-modal-xl {
  text-align: center; }
  .st-modal-xl .modal-dialog {
    max-width: 1140px;
    display: inline-block; }

/*  
    The ST Stepper is a simple component used to visualize progress through a process
    Currently supports 4 and 5 step processes
    Refer to the registration process for an example
*/
.st-stepper-container {
  position: relative;
  width: 100%;
  height: 30px;
  text-align: center;
  padding: 0 5%; }

.st-stepper {
  position: absolute;
  width: 90%;
  height: 100%; }

.st-stepper-line {
  position: absolute;
  display: inline-block;
  background: #f7dca1;
  width: 100%;
  height: 20%;
  left: 0;
  top: 40%; }

.st-stepper-line-progress {
  position: absolute;
  display: inline-block;
  background: #4c2906;
  height: 20%;
  left: 0;
  top: 40%; }

.st-step {
  position: absolute;
  display: inline-block;
  background: #f7dca1;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  z-index: 1; }

.st-step-complete {
  background: #4c2906; }

.st-step-active {
  background: #ffffff;
  border: #4c2906 solid 6px; }

/* 4 step specific formatting */
.st-stepper4 .st-stepper-progress-2 {
  width: 33%; }

.st-stepper4 .st-stepper-progress-3 {
  width: 66%; }

.st-stepper4 .st-stepper-progress-4 {
  width: 100%; }

.st-stepper4 .st-step:nth-child(1) {
  left: 0;
  margin-left: -15px; }

.st-stepper4 .st-step:nth-child(2) {
  left: 33%;
  margin-left: -15px; }

.st-stepper4 .st-step:nth-child(3) {
  right: 33%;
  margin-right: -15px; }

.st-stepper4 .st-step:nth-child(4) {
  right: 0;
  margin-right: -15px; }

/* 5 step specific formatting */
.st-stepper5 .st-stepper-progress-2 {
  width: 25%; }

.st-stepper5 .st-stepper-progress-3 {
  width: 50%; }

.st-stepper5 .st-stepper-progress-4 {
  width: 75%; }

.st-stepper5 .st-stepper-progress-5 {
  width: 100%; }

.st-stepper5 .st-step:nth-child(1) {
  left: 0;
  margin-left: -15px; }

.st-stepper5 .st-step:nth-child(2) {
  left: 25%;
  margin-left: -15px; }

.st-stepper5 .st-step:nth-child(3) {
  left: 50%;
  margin-left: -15px; }

.st-stepper5 .st-step:nth-child(4) {
  right: 25%;
  margin-right: -15px; }

.st-stepper5 .st-step:nth-child(5) {
  right: 0%;
  margin-right: -15px; }

.st-toggle {
  align-items: center;
  display: flex;
  align-content: flex-start; }

.st-toggle__label {
  /*color: #232329;
    font-size: 12px;
    line-height: 18px;*/
  flex-grow: 1; }

.st-toggle__input {
  opacity: 0;
  position: absolute;
  z-index: -1; }

.st-toggle__container {
  display: block;
  background: url("./../css/img/st-toggle-background.svg") 61px 30px #E8E7E6;
  padding: 1px;
  border-radius: 15px;
  height: 30px;
  transition: background-color 300ms ease;
  flex: 0 0 61px;
  width: 61px;
  margin-left: auto;
  cursor: pointer; }
  :focus + .st-toggle__container {
    -webkit-box-shadow: 0 0 8px rgba(0, 123, 255, 0.6) !important;
    /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow: 0 0 8px rgba(0, 123, 255, 0.6) !important;
    /* Firefox 3.5 - 3.6 */
    box-shadow: 0 0 8px rgba(0, 123, 255, 0.6) !important;
    /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */ }
  :checked + .st-toggle__container {
    background-color: #007bff;
    border-color: #007bff; }

.st-toggle__knob {
  display: block;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.3);
  height: 28px;
  width: 28px;
  transition: transform 300ms ease; }
  :checked + .st-toggle__container > .st-toggle__knob {
    transform: translateX(31px); }

#bootstrap-overrides {
  /* --------------------------------------

                BOOTSTRAP RESETS 
        
        strip unwanted Bootstrap styling here
       
        ------------------------------------- */
  /* 
        remove borders from primary buttons
        borders create unwanted pixelated corners
    */
  /* 
        restyle the Bootstrap badges and alerts
    */
  /*
        CUSTOM TABLE OVERRIDES
    */
  /* 
        sets the colors of the bootstrap tables
    */
  /* 
        Bootstrap validation overrides
        Override is-valid class styling
    */
  /* .is-valid is added to buttons on validation. we want to remove the styling that is applied to buttons because they don't need to be validated */
  /* we want to hide the is valid styling on custom fields */
  /*
        !!!!!!!!!!!!!!!!!!!!!!!!!!!!
        THIS STYLE IS TO HIDE THE POPUP THAT GETS TRIGGERED FOR MOBILE TOOLTIPS
        I HAVE TO MANUALLY CALL THE TOOLTIP IN ORDER FOR IT TO BE TRIGGERED BY A TOUCH EVENT
        SEE st_utilities.js
        !!!!!!!!!!!!!!!!!!!!!!!!!!!!
    */ }
  #bootstrap-overrides h1 {
    font-size: 1.25rem; }
  #bootstrap-overrides h2 {
    font-size: 1rem; }
  #bootstrap-overrides h3 {
    font-size: 1.25rem; }
  #bootstrap-overrides h4,
  #bootstrap-overrides h5,
  #bootstrap-overrides h6 {
    font-size: 1rem; }
  #bootstrap-overrides th {
    font-weight: 400; }
  #bootstrap-overrides .btn-primary, #bootstrap-overrides .btn-primary:hover {
    border: none; }
  #bootstrap-overrides .badge {
    font-weight: 400; }
  #bootstrap-overrides .badge-success {
    background-color: #d4fbc7;
    color: #223e0f;
    border: #223e0f 1px solid; }
  #bootstrap-overrides .badge-warning {
    background: #fff2d4;
    color: #4c2906;
    border: 1px solid #4c2906; }
  #bootstrap-overrides .badge-danger {
    background: #ffd2d3;
    color: #800f13;
    border: 1px solid #800f13; }
  #bootstrap-overrides .badge-light {
    border: 1px solid #212529; }
  #bootstrap-overrides .badge-info {
    background-color: #dce9f9;
    color: #031442;
    border: #031442 1px solid; }
  #bootstrap-overrides .alert-success {
    background-color: #d4fbc7;
    color: #223e0f;
    border: #223e0f 1px solid; }
  #bootstrap-overrides .alert-danger {
    background: #ffd2d3;
    color: #800f13;
    border: 1px solid #800f13; }
  #bootstrap-overrides .alert-warning {
    background-color: #fefcd3;
    color: #804a0f;
    border: #804a0f 1px solid; }
  #bootstrap-overrides .alert-info {
    background-color: #dce9f9;
    color: #031442;
    border: #031442 1px solid; }
  #bootstrap-overrides .alert-secondary {
    background-color: #e5e3df;
    color: #161616;
    border: #161616 1px solid; }
  #bootstrap-overrides .table thead th {
    border-bottom: none;
    border-top: none;
    font-weight: 700;
    color: #3f3f3d; }
  #bootstrap-overrides .table tbody {
    border: 1px solid #dee2e6; }
  #bootstrap-overrides .table-striped tbody tr:nth-of-type(odd) {
    background-color: #FEFEFE; }
  #bootstrap-overrides .table-striped tbody tr:nth-of-type(even) {
    background-color: #FBFBFB; }
  #bootstrap-overrides .is-valid, #bootstrap-overrides .form-control.is-valid, #bootstrap-overrides .was-validated .form-control:valid {
    background-image: none;
    border: 1px solid #ced4da; }
  #bootstrap-overrides .custom-select.is-valid, #bootstrap-overrides .was-validated .custom-select:valid {
    border: 1px solid #ced4da; }
  #bootstrap-overrides .custom-control-input.is-valid ~ .custom-control-label, #bootstrap-overrides .was-validated .custom-control-input:valid ~ .custom-control-label {
    color: #161616; }
  #bootstrap-overrides .btn.is-valid {
    border: none; }
  #bootstrap-overrides .custom-control-input.is-valid ~ .custom-control-label::before, #bootstrap-overrides .was-validated .custom-control-input:valid ~ .custom-control-label::before {
    border-color: #007bff; }
  #bootstrap-overrides .custom-control-input.is-valid:checked ~ .custom-control-label::before, #bootstrap-overrides .was-validated .custom-control-input:valid:checked ~ .custom-control-label::before {
    border-color: #007bff;
    background-color: #007bff; }
  #bootstrap-overrides .btn:disabled {
    background: #e9ecef; }
  #bootstrap-overrides .btn-a-link:disabled, #bootstrap-overrides .btn-link:disabled {
    color: #e9ecef;
    background: none; }
  #bootstrap-overrides .custom-select.is-valid {
    background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3e%3cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e") no-repeat right 0.75rem center/8px 10px; }
  #bootstrap-overrides .popover {
    display: none;
    visibility: hidden;
    opacity: 0; }

.card {
  border: none !important;
  border-left: 4px solid #2d2c2b !important;
  -webkit-box-shadow: 0 1px 2px #888888 !important;
  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow: 0 1px 2px #888888 !important;
  /* Firefox 3.5 - 3.6 */
  box-shadow: 0 1px 2px #888888 !important;
  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
  border-radius: .2rem; }
  .card .card-header {
    border: none !important;
    background: #3F3F3D !important;
    border-radius: 0 calc(.25rem - 1px) 0 0 !important;
    color: #fff !important; }
    .card .card-header .st-label {
      color: #fff !important; }

/* created a style for bootstrap buttons that we want styled like a link (only difference from btn-link is the padding is removed) */
.btn-a-link {
  font-weight: 400;
  color: #007bff;
  padding: 0; }

.btn-a-link:hover {
  color: #0056b3;
  text-decoration: underline; }

.custom-file-label::after {
  color: #007bff;
  background-color: #fff;
  border: 1px solid #007bff; }

@media (min-width: 992px) {
  .w-lg-75 {
    width: 75%; } }

/*******************************************
    
Bootstrap overrides for small screens only 

 *******************************************/
@media (max-width: 767px) {
  #bootstrap-overrides {
    /*******************************************
    
        navbar overrides to improve mobile experience

         *******************************************/ }
    #bootstrap-overrides .navbar-collapse form {
      margin-top: 1.25rem;
      margin-bottom: 1.25rem; }
    #bootstrap-overrides .navbar-collapse a {
      font-size: 1.25rem;
      padding-top: 1.25rem; } }

/*
    =========================
       SMART TAG DEFAULTS
    =========================
*/
:root, body {
  font-family: "Heebo", Verdana, Geneva, sans-serif;
  color: #161616;
  background-color: #F4F3F2; }

.st-section-header {
  margin-bottom: .5rem; }
  .st-section-header h2 {
    color: #3f3f3d;
    margin-bottom: .25rem; }

.file-uploaded-info {
  padding-bottom: .5rem; }

.file-uploaded-thumbnail img {
  max-width: 400px;
  max-height: 400px;
  cursor: pointer; }

.file-uploaded {
  margin-bottom: 1.5rem;
  margin-left: 20px; }
  .file-uploaded:last-child {
    padding-bottom: 0;
    margin-bottom: 0; }
  .file-uploaded::before {
    content: "\f0c6";
    font-family: "FontAwesome";
    color: #aaa8a7;
    font-size: 1.25rem;
    float: left;
    position: absolute;
    left: 15px; }

.img-preview {
  max-height: 75vh; }

/* ------------------------------

    TYPOGRAPHY UTILITY CLASSES

   ------------------------------ */
.text-light {
  font-weight: 300; }

.text-regular {
  font-weight: 400; }

.text-semi-bold {
  font-weight: 500; }

.text-bold {
  font-weight: 700; }

.text-italic {
  font-style: italic; }

.display-1 {
  font-size: 3rem !important; }

.display-2 {
  font-size: 2.5rem !important; }

.display-3 {
  font-size: 2rem !important; }

.display-4 {
  font-size: 1.75rem !important; }

.display-5 {
  font-size: 1.5rem !important; }

.display-6 {
  font-size: 1.25rem !important; }

/* -----------------------

    DEFAULT FORM STYLING

   ----------------------- */
.input-validation-error, .form-control.is-invalid, .was-validated .form-control:invalid {
  border-color: #dc3545;
  padding-right: 2.25rem;
  /*background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3e%3cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e") no-repeat right .75rem center/8px 10px;*/
  background-repeat: no-repeat;
  background-position: center right calc(2.25rem / 4);
  background-size: calc(2.25rem / 2) calc(2.25rem / 2);
  /*background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23dc3545' viewBox='-2 -2 7 7'%3e%3cpath stroke='%23dc3545' d='M0 0l3 3m0-3L0 3'/%3e%3ccircle r='.5'/%3e%3ccircle cx='3' r='.5'/%3e%3ccircle cy='3' r='.5'/%3e%3ccircle cx='3' cy='3' r='.5'/%3e%3c/svg%3E");*/
  background-image: none; }

label.is-invalid {
  width: 100%;
  margin-top: .25rem;
  font-size: 80%;
  color: #dc3545; }

.is-invalid:focus, .input-validation-error:focus {
  border-color: rgba(220, 53, 69, 0.8);
  outline: 0;
  -webkit-box-shadow: 0 0 8px rgba(220, 53, 69, 0.6) !important;
  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow: 0 0 8px rgba(220, 53, 69, 0.6) !important;
  /* Firefox 3.5 - 3.6 */
  box-shadow: 0 0 8px rgba(220, 53, 69, 0.6) !important;
  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */ }

.dropdown-validation-error {
  border-color: #dc3545; }

.dropdown-validation-error:focus {
  border-color: rgba(220, 53, 69, 0.8);
  outline: 0;
  -webkit-box-shadow: 0 0 8px rgba(220, 53, 69, 0.6) !important;
  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow: 0 0 8px rgba(220, 53, 69, 0.6) !important;
  /* Firefox 3.5 - 3.6 */
  box-shadow: 0 0 8px rgba(220, 53, 69, 0.6) !important;
  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */ }

.field-validation-error,
.custom-invalid-feedback {
  width: 100%;
  margin-top: .25rem;
  font-size: 80%;
  color: #dc3545; }

/* hide 'x' on invalid custom selects*/
.custom-select.input-validation-error, .custom-select.is-invalid, .custom-select.is-valid, .was-validated .custom-select:valid {
  background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3e%3cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e") no-repeat right 0.75rem center/8px 10px;
  /*background: none;
    background-image: none;*/ }

.form-control::placeholder {
  opacity: 1;
  color: #aaa8a7; }

.form-control::-webkit-input-placeholder {
  color: #aaa8a7; }

.form-control:-moz-placeholder {
  color: #aaa8a7; }

.form-control:-ms-input-placeholder {
  color: #aaa8a7; }

.form-control::-moz-placeholder {
  opacity: 1;
  color: #aaa8a7; }

input:focus,
select:focus,
textarea:focus,
button:focus,
.btn:focus,
.btn:hover {
  -webkit-box-shadow: 0 0 8px rgba(0, 123, 255, 0.6) !important;
  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow: 0 0 8px rgba(0, 123, 255, 0.6) !important;
  /* Firefox 3.5 - 3.6 */
  box-shadow: 0 0 8px rgba(0, 123, 255, 0.6) !important;
  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */ }

.btn.btn-link:focus,
.btn.btn-a-link:focus,
.btn.btn-link:hover,
.btn.btn-a-link:hover,
.btn:disabled {
  -webkit-box-shadow: none !important;
  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow: none !important;
  /* Firefox 3.5 - 3.6 */
  box-shadow: none !important;
  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */ }

.st-label {
  font-size: .85rem;
  color: #5b5a57;
  margin-bottom: 0; }

.st-search-btn-margin {
  margin-top: 24px; }

.test {
  color: #fff; }
