/*
    This is the base file where majority of SMART tag's default styling is set
    We include all modules and components here
*/

@import '../st-modules/all';
@import '../st-components/all';
@import 'st-bootstrap-overrides';

/*
    =========================
       SMART TAG DEFAULTS
    =========================
*/

:root, body {
    font-family: $font-stack-heebo;
    color: $gray-800;
    background-color: #F4F3F2;
}

.st-section-header {
    margin-bottom: .5rem;

    h2 {
        color: $gray-600;
        margin-bottom: .25rem;
    }
}