#bootstrap-overrides {
    /* --------------------------------------

                BOOTSTRAP RESETS 
        
        strip unwanted Bootstrap styling here
       
        ------------------------------------- */
    h1 {
        font-size: 1.25rem;
    }

    h2 {
        font-size: 1rem;
    }

    h3 {
        font-size: 1.25rem;
    }

    h4,
    h5,
    h6 {
        font-size: 1rem;
    }

    th {
        font-weight: 400;
    }
    /* 
        remove borders from primary buttons
        borders create unwanted pixelated corners
    */
    .btn-primary, .btn-primary:hover {
        border: none;
    }
    /* 
        restyle the Bootstrap badges and alerts
    */
    .badge {
        font-weight: 400;
    }

    .badge-success {
        background-color: $green-200;
        color: $green-800;
        border: $green-800 1px solid;
    }

    .badge-warning {
        background: $yellow-100;
        color: $yellow-800;
        border: 1px solid $yellow-800;
    }

    .badge-danger {
        background: $red-200;
        color: $red-800;
        border: 1px solid $red-800;
    }

    .badge-light {
        border: 1px solid #212529;
    }

    .badge-info {
        background-color: $blue-100;
        color: $blue-800;
        border: $blue-800 1px solid;
    }

    .alert-success {
        background-color: $green-200;
        color: $green-800;
        border: $green-800 1px solid;
    }

    .alert-danger {
        background: $red-200;
        color: $red-800;
        border: 1px solid $red-800;
    }

    .alert-warning {
        background-color: #fefcd3;
        color: #804a0f;
        border: #804a0f 1px solid;
    }

    .alert-info {
        background-color: $blue-100;
        color: $blue-800;
        border: $blue-800 1px solid;
    }

    .alert-secondary {
        background-color: $gray-200;
        color: $gray-800;
        border: $gray-800 1px solid;
    }
    /* 
        sets the colors of the bootstrap tables
    */
    .table-striped tbody tr:nth-of-type(odd) {
        background-color: #f5fafc;
    }

    .table-striped tbody tr:nth-of-type(even) {
        background-color: #dce9f9;
    }
    /* 
        Bootstrap validation overrides
        Override is-valid class styling
    */
    .is-valid {
        background-image: none;
        border: 1px solid #ced4da;
    }

    .custom-control-input.is-valid ~ .custom-control-label {
        color: #161616;
    }
    /* .is-valid is added to buttons on validation. we want to remove the styling that is applied to buttons because they don't need to be validated */
    .btn.is-valid {
        border: none;
    }

    .btn:disabled {
        background: #e9ecef;
    }

    .btn-a-link:disabled, .btn-link:disabled {
        color: #e9ecef;
        background: none;
    }

    .custom-select.is-valid {
        background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3e%3cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e") no-repeat right .75rem center/8px 10px;
    }

    /*
        !!!!!!!!!!!!!!!!!!!!!!!!!!!!
        THIS STYLE IS TO HIDE THE POPUP THAT GETS TRIGGERED FOR MOBILE TOOLTIPS
        I HAVE TO MANUALLY CALL THE TOOLTIP IN ORDER FOR IT TO BE TRIGGERED BY A TOUCH EVENT
        SEE st_utilities.js
        !!!!!!!!!!!!!!!!!!!!!!!!!!!!
    */
    .popover {
        display: none;
        visibility: hidden;
        opacity: 0;
    }
}

.card {
    border: none;
    border-left: 4px solid $gray-700;
    @include box-shadow(0 1px 2px #888888);
    border-radius: .2rem;
}

/* created a style for bootstrap buttons that we want styled like a link (only difference from btn-link is the padding is removed) */
.btn-a-link {
    font-weight: 400;
    color: #007bff;
    padding: 0;
}

.btn-a-link:hover {
    color: #0056b3;
    text-decoration: underline;
}

@include media-breakpoint-up(lg) {
    .w-lg-75 {
        width:75%;
    }
}


/*******************************************
    
Bootstrap overrides for small screens only 

 *******************************************/
@media(max-width:767px) {
    #bootstrap-overrides {
        /*******************************************
    
        navbar overrides to improve mobile experience

         *******************************************/
        .navbar-collapse form {
            margin-top: 1.25rem;
            margin-bottom: 1.25rem;
        }

        .navbar-collapse a {
            font-size: 1.25rem;
            padding-top: 1.25rem;
        }
    }
}