<h3 mat-dialog-title>{{mode}} Referral Reason</h3>

<mat-dialog-content>
    <div class="half-form-width">
        <div class="form-group">
            <label for="input-name">Name</label>
            <input type="text" class="form-control" [(ngModel)]="referralReasonObject && referralReasonObject.ReferralReason" id="rReason" placeholder="Referral Reason">
        </div>
        
        <div class="form-group">
            <label for="exampleFormControlSelect1">Referral Type</label>
            <select class="form-control" id="rTypeId" [(ngModel)]="referralReasonObject && referralReasonObject.ReferralTypeId">
                <option value=""></option>
                <option *ngFor="let rt of referralTypeList" [value]="rt.Id">{{rt.ReferralType}}</option>
            </select>
        </div>
        <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="customCheck1" [(ngModel)]="referralReasonObject && referralReasonObject.IsActive">
            <label class="custom-control-label" for="customCheck1">Active</label>
        </div>
    </div>
</mat-dialog-content>

<mat-dialog-actions>
    <button class="btn btn-primary" type="button" (click)="saveChanges()">Create</button>
    <button class="btn btn-link" (click)="close()">Close</button>
</mat-dialog-actions>
