<div class="page-wrapper chiller-theme toggled">
    <a id="show-sidebar" class="btn btn-sm btn-dark" href="#">
        <i class="fas fa-bars"></i>
    </a>
    <nav id="sidebar" class="sidebar-wrapper">
        <div class="sidebar-content">
            <div class="sidebar-brand">
                <img src="./../../../../assets/images/smart-conduct-logo.png" height="85" width="135">
            </div>
            <!-- sidebar-search  -->
            <div class="sidebar-menu">
                <ul>
                    <li class="sidebar-dropdown" [routerLinkActive]="['active']">
                        <a routerLink="/main/dashboard">
                            <span>Dashboard</span>
                        </a>
                    </li>
                    <li class="sidebar-dropdown" [routerLinkActive]="['active']">
                        <a routerLink="/main/referral">
                            <span>Referrals</span>
                        </a>
                    </li>
                    <li class="sidebar-dropdown" [routerLinkActive]="['active']">
                        <a routerLink="/main/student">
                            <span>Students</span>
                        </a>
                    </li>
                    <li class="sidebar-dropdown" [routerLinkActive]="['active']">
                        <a routerLink="/main/report">
                            <span>Reports</span>
                        </a>
                    </li>
                    <li class="sidebar-dropdown" [routerLinkActive]="['active']">
                        <a routerLink="/main/campus">
                            <span>Campuses</span>
                        </a>
                    </li>
                    <li class="sidebar-dropdown" [routerLinkActive]="['active']">
                        <a routerLink="/main/driver">
                            <span>Drivers</span>
                        </a>
                    </li>
                    <li class="sidebar-dropdown" [routerLinkActive]="['active']">
                        <a routerLink="/main/conductstaff">
                            <span>Conduct Staff</span>
                        </a>
                    </li>
                    <li class="sidebar-dropdown" [routerLinkActive]="['active']">
                        <a routerLink="/main/referralgroup">
                            <span>Referral Groups</span>
                        </a>
                    </li>
                    <li class="sidebar-dropdown" [routerLinkActive]="['active']">
                        <a routerLink="/main/setup">
                            <span>Setup</span>
                        </a>
                    </li>
                </ul>
            </div>
        <!-- sidebar-menu  -->
        </div>
        <!-- sidebar-content  -->
    </nav>
    <!-- sidebar-wrapper  -->
    <main class="page-content">
        <div [@routerTransition]="getState(outlet)" class="all-white">
            <div class="user-bubble float-right">
                <user-info></user-info>
            </div>
            <router-outlet #outlet="outlet"></router-outlet>
        </div>
        
    </main>
<!-- page-content" -->
</div>