@import '../../../../assets/css/smart-tag-styles.css';
@import '../../../../assets/Content/animate.css';

h3{
    color: #5e5d5d;
}

th{
    font-family: Arial, Helvetica, sans-serif;
    color: #5e5d5d;
    font-size: 14px;
    font-weight: bolder;
}

tr{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

table{
    margin-top: -10px;
    width: auto;
}

table tbody{
    border: 2px solid #ddd;
}

table thead{
    border: none;
}

button{
    margin-top: 20px;
    margin-bottom: 20px;
}