<h3 class="display-2 text-semi-bold">Referral Groups</h3>
<div class="row">
    <div class="col mt-3">
        <div>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#rgroupModal">
                    Create a referral group
            </button>
        </div>
        <div class="card">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">Group Name</th>
                                <th scope="col">Referral Coordinator</th>
                                <th scope="col">Description</th>
                                <th scope="col"></th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Andreas Crawford</td>
                                <td>Ryder Corona</td>
                                <td>This group handles referral created for students with last name starting with A-M at Copper Cover Elementary</td>
                                <td><a routerLink="/main/referralgroup/view/1">Edit</a></td>
                                <td><a href="#">Delete</a></td>
                            </tr>
                            <tr>
                                <td>Harris Mclean</td>
                                <td>Ryder Corona</td>
                                <td>This group handles referral created for students with last name starting with N-Z at Copper High School</td>
                                <td><a routerLink="/main/referralgroup/view/1">Edit</a></td>
                                <td><a href="#">Delete</a></td>
                            </tr>
                            <tr>
                                <td>Kiya Hurley</td>
                                <td>Ryder Corona</td>
                                <td>This group handles referral created for students with last name starting with A-M at Maple Hills High</td>
                                <td><a routerLink="/main/referralgroup/view/1">Edit</a></td>
                                <td><a href="#">Delete</a></td>
                            </tr>
                            <tr>
                                <td>Lily-an Foley</td>
                                <td>Ryder Corona</td>
                                <td>This group handles referral created for students with last name starting with N-Z at Maple Hills High</td>
                                <td><a routerLink="/main/referralgroup/view/1">Edit</a></td>
                                <td><a href="#">Delete</a></td>
                            </tr>
                            <tr>
                                <td>Conall Rosales</td>
                                <td>Ryder Corona</td>
                                <td>This group handles referral created for students with last name starting with A-M at Copper Cover Elementary</td>
                                <td><a routerLink="/main/referralgroup/view/1">Edit</a></td>
                                <td><a href="#">Delete</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="rgroupModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                    <h3 class="modal-title">Create Referral Groups</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="rgroupname" class="col-form-label">Group Name</label>
                        <input type="text" class="form-control" id="rgroupname" placeholder="Type the name of the referral group">
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">Description (optional)</label>
                        <textarea class="form-control" id="description" placeholder="Type a description of the group to help users understand what the group is for" rows="3"></textarea>
                    </div>
                </form>
                <div class="form-group">
                    <button type="button" class="btn btn-primary">Create</button>&nbsp;
                    <button type="button" class="btn btn-link" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="./../../../../assets/js/st-modal.js"></script>