﻿/* -----------------------

    DEFAULT FORM STYLING

   ----------------------- */

.input-validation-error, .form-control.is-invalid, .was-validated .form-control:invalid {
    border-color: #dc3545;
    padding-right: 2.25rem;
    /*background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3e%3cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e") no-repeat right .75rem center/8px 10px;*/
    background-repeat: no-repeat;
    background-position: center right calc(2.25rem / 4);
    background-size: calc(2.25rem / 2) calc(2.25rem / 2);
    /*background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23dc3545' viewBox='-2 -2 7 7'%3e%3cpath stroke='%23dc3545' d='M0 0l3 3m0-3L0 3'/%3e%3ccircle r='.5'/%3e%3ccircle cx='3' r='.5'/%3e%3ccircle cy='3' r='.5'/%3e%3ccircle cx='3' cy='3' r='.5'/%3e%3c/svg%3E");*/
    background-image:none;
}

label.is-invalid {
    width: 100%;
    margin-top: .25rem;
    font-size: 80%;
    color: #dc3545;
}

.is-invalid:focus, .input-validation-error:focus {
    border-color: rgba(220,53,69,.8);
    outline: 0;
    @include box-shadow(0 0 8px rgba(220,53,69,.6));
}

.dropdown-validation-error {
    border-color: #dc3545;
}

.dropdown-validation-error:focus {
    border-color: rgba(220,53,69,.8);
    outline: 0;
    @include box-shadow(0 0 8px rgba(220,53,69,.6));
}

.field-validation-error, 
.custom-invalid-feedback {
    width: 100%;
    margin-top: .25rem;
    font-size: 80%;
    color: #dc3545;
}

/* hide 'x' on invalid custom selects*/
.custom-select.input-validation-error, .custom-select.is-invalid, .custom-select.is-valid, .was-validated .custom-select:valid {
    background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3e%3cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e") no-repeat right .75rem center/8px 10px;
    /*background: none;
    background-image: none;*/
}

.form-control::placeholder {
    opacity: 1;
    color: $gray-300;
}

.form-control::-webkit-input-placeholder {
    color: $gray-300;
}

.form-control:-moz-placeholder {
    color: $gray-300;
}

.form-control:-ms-input-placeholder {
    color: $gray-300;
}

.form-control::-moz-placeholder {
    opacity: 1;
    color: $gray-300;
}

input:focus,
select:focus,
textarea:focus,
button:focus,
.btn:focus,
.btn:hover {
    @include box-shadow(0 0 8px rgba(0,123,255,.6));
}

.btn.btn-link:focus,
.btn.btn-a-link:focus,
.btn.btn-link:hover,
.btn.btn-a-link:hover,
.btn:disabled {
    @include box-shadow(none);
}

.st-label {
    font-size: .85rem;
    color: $gray-500;
    margin-bottom: 0;
}

.st-search-btn-margin {
    margin-top:0px;
}