/*
    This is the base file where majority of SMART tag's default styling is set
    We include all modules and components here
*/

@import '../st-modules/all';
@import '../st-components/all';
@import 'st-bootstrap-overrides';

/*
    =========================
       SMART TAG DEFAULTS
    =========================
*/

:root, body {
    font-family: $font-stack-heebo;
    color: $gray-800;
    background-color: #F4F3F2;
}

.st-section-header {
    margin-bottom: .5rem;

    h2 {
        color: $gray-600;
        margin-bottom: .25rem;
    }
}

.file-uploaded-info {
    padding-bottom:.5rem;
}

.file-uploaded-thumbnail {
    img {        
        max-width: 400px;
        max-height: 400px;
        cursor:pointer;
    }
}

.file-uploaded {
    margin-bottom:1.5rem;
    margin-left:20px;

    &:last-child {
        padding-bottom:0;
        margin-bottom:0;
    }
    
    &::before {
        content: "\f0c6";
        font-family: "FontAwesome";
        color: $gray-300;
        font-size:1.25rem;
        float:left;
        position:absolute;
        left:15px;
    }
}

.img-preview {
    max-height: 75vh;
}