﻿/* ------------------------------

    TYPOGRAPHY UTILITY CLASSES

   ------------------------------ */
.text-light { font-weight: 300; }
.text-regular { font-weight: 400; }
.text-semi-bold { font-weight: 500; }
.text-bold { font-weight: 700; }
.text-italic { font-style: italic; }

.display-1 {
    font-size: 3rem !important;
}

.display-2 {
    font-size: 2.5rem !important;
}

.display-3 {
    font-size: 2rem !important;
}

.display-4 {
    font-size: 1.75rem !important;
}

.display-5 {
    font-size: 1.5rem !important;
}

.display-6 {
    font-size: 1.25rem !important;
}
