@import '../../../../../assets/css/smart-tag-styles.css';
@import '../../../../../assets/Content/animate.css';


h3{
    color: #5e5d5d;
}

h4{
    color: #000;
}
.custom-file-label{
    color: #5e5d5d;
}

.fw {
    width:100%;
}
.badge-status p{
    margin:0.8em 0;
}

#fu-notes{
    font-size: 13px;
}

button{
    margin-right: 15px;
    font-weight:500;
}

a, p{
    font-size: 14px;
}

img{
    width: 110px;
    height: 110px;
}
.form-distance{
    margin-bottom:10px;
}
.badge-full {
    width:100%;
}
a {
    color:#007bff !important;
}

#exlamation-pic{
    height: 24px;
    width: 24px;
}

#calendar-pic{
    height: 42px;
    width: 42px;
}

#rtype-pic{
    height: 56px;
    width: 48px;
}

#route-pic{
    width: 66px;
    height: 44px;
}

#bus-pic{
    width: 66px;
    height: 44px;
}

#student-pic{
    height: 150px;
    width: 120px;
}

#right-pane{
    position: absolute;
    width: 326px;
    height: 811px;
    left: 1202px;
    top: 0px;

    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    padding-left:20px;
}

.upload-container{
    padding:5px;
    background: #FFFFFF;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 4px;
    height: 100%;
}

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {

    padding: 5px !important; // currently 8px
}

table{
    width: auto !important;
}

td > a{
    color:#007bff !important;
}