<script src="https://kit.fontawesome.com/e2e976ec77.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<h3 class="display-2 text-semi-bold">Referral for Keventa Skinner</h3>
<div class="st-section-header">
    <div class="form-group">
        <button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#shareLinkModal">Share a link</button>
        <button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#emailReportModal">Email a report</button>
        <button type="button" class="btn btn-outline-primary" (click)="editReferral()">Edit referral</button>
    </div>
</div>
<div class="row">
    <div class="col-5 mt-2">
        <div class="st-section-header">
            <h2>Referral Details</h2>
        </div>
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-6">
                        <span class="badge badge-warning"><h6><img src="./../../../../../assets/css/img/status-icon-exclamation-32x32.png" id="exlamation-pic">This is Keventa's 2nd discipline referral this school year</h6></span>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-10">
                        <h1>Keventa Skinner</h1>
                        <div class="form-group">
                            <button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#historyModal">View referral history</button>
                            <button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#suspendModal">Suspend Kevin</button>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-2">
                        <img src="./../../../../../assets/css/img/calendar-icon-46x46.png" id="calendar-pic">
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            <label class="st-label">Date of Incident </label>
                            <h6>12/10/2019</h6>
                        </div>
                    </div>
                    <div class="col-2">
                        <img src="./../../../../../assets/css/img/referral-type-discipline-48x56.svg" id="rtype-pic">
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            <label class="st-label">Referral Type</label>
                            <h6>Discipline</h6>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-12">
                        <div class="form-group">
                            <label class="st-label">Referral Reasons</label>
                            <input type="text" disabled class="form-control form-distance" value="Violation of safety procedures">
                            <input type="text" disabled class="form-control form-distance" value="Excessive mischief">
                            <input type="text" disabled class="form-control form-distance" value="Rude-discorteous-annoying">
                            <input type="text" disabled class="form-control form-distance" value="Fighting-pushing-tripping">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="form-group">
                            <label class="st-label">Preliminary actions taken by driver</label>
                            <textarea  disabled cols="9" rows="3" class="form-control">I verbally asked the student to stop acting out on multiple occasions prior to this one
                            </textarea>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="form-group">
                            <label class="st-label">Description of incident</label>
                            <textarea name="" id="" disabled cols="30" rows="10" class="form-control">While approaching the bus at Tarver Dock, Keventa pushed a younger, female student. After getting on the bus the safety trainer called him off the bus to talk to him about the incident. After getting back on the bus, while in route, Keventa reached across the aisle and pulled a female student's hair. Later, Keventa was laying in the floor. After getting him to site in his seat at the next stop he switched seats without permission.
                            </textarea>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="form-group">
                            <label class="st-label">Privacy Data (this information will not show up on parent report)</label>>
                            <textarea name="" id="" disabled cols="9" rows="3" class="form-control">Jessica Black was the student pushed, and Mary Beth was the student whose hair he pulled.</textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
    
    <div class="col-4 mt-2">
        <div class="st-section-header">
            <h2>Student Info</h2>
        </div>
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-6">
                        <div class="form-group">
                            <img src="./../../../../../assets/css/img/image 1.png" id="student-pic">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <div class="form-group">
                            <label class="st-label">Student Name</label>
                            <h6>Keventa Skinner</h6>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <div class="form-group">
                            <label class="st-label">Date of Birth</label>
                            <h6>4/26/2003</h6>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <label class="st-label">Student ID</label>
                            <h6>123456</h6>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <div class="form-group">
                            <label class="st-label">Campus</label>
                            <h6>Pine Tree Elementary</h6>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <label class="st-label">Grade</label>
                            <h6>4</h6>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <div class="form-group">
                            <label class="st-label">Parent Name</label>
                            <h6>Charles Skinner</h6>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <div class="form-group">
                            <label class="st-label">Parent Email</label>
                            <h6>charles@gmail.com</h6>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <div class="form-group">
                            <label class="st-label">Parent Phone</label>
                            <h6>555-555-5555</h6>
                        </div>
                    </div>
                </div>
                <button type="button" class="btn btn-outline-primary" (click)="viewStudent()">View Profile</button>
            </div>
        </div>
        <br>
        <div class="st-section-header">
            <h2>Driver Details</h2>
        </div>
        <div class="card">
            <div class="card-body">
                <div class="form-group">
                    <label class="st-label">Driver</label>
                    <h6>John Deree</h6>
                </div>
                <div class="form-group">
                    <label class="st-label">Driver Phone</label>
                    <h6>123-456-7890</h6>
                </div>
                <div class="form-group">
                    <button type="button" class="btn btn-outline-primary" (click)="viewDriver()">View Profile</button>
                </div>
            </div>
        </div>
        <br>
        <div class="st-section-header">
            <h2>Route Details</h2>
        </div>
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-2">
                        <img src="./../../../../../assets/css/img/route-avatar@3x.png" id="route-pic">
                    </div>
                    <div class="col-10">
                        <div class="form-group">
                            <label class="st-label">Route</label>
                            <h6>123 AM 2 KIKO 2</h6>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-2">
                        <div class="form-group">
                            <img src="./../../../../../assets/css/img/bus-avatar@3x.png" id="bus-pic">
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            <label class="st-label">Bus</label>
                            <h6>123</h6>
                        </div>
                    </div>
                    <div class="col-6">
                        <label class="st-label">Shift</label>
                        <h6>AM</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-4" id="right-pane">
        <div class="row">
            <div class="col-12 mt-3">
                <span class="badge badge-warning"><p>This referral is currently not assigned</p></span>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-12">
                <div class="form-group">
                    <button type="button" class="btn btn-primary" id="btnAssign" data-toggle="modal" data-target="#assignModal">Assign</button>
                    <button type="button" class="btn btn-outline-primary" id="btnComplete">Mark Complete</button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="form-group">
                    <label class="st-label" id="lblNotes">Notes</label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="form-group">
                    <button type="button" class="btn btn-outline-primary" id="btnAddNote" data-toggle="modal" data-target="#addNoteModal">Add note</button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="form-group">
                    <textarea name="" id="" disabled cols="30" rows="10" class="form-control">ACTION REQUESTED:Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum</textarea>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="form-group">
                    <label class="st-label" id="lblUpload">File Uploads</label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="form-group">
                    <button type="button" class="btn btn-outline-primary" id="btnUpload" data-toggle="modal" data-target="#uploadModal">Upload a file</button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="upload-container">
                    <div class="file-uploaded">
                        <div class="file-uploaded-info">
                            <span class="file-uploaded-by text-bold">stadmin.devisd attached file</span><br>
                            <small class="st-text-small text-gray-400">Uploaded on 11/18/19 at 10:32 AM</small><br>
                            <span id="fu-notes">Notes: handwritten referral from from driver</span><br>
                        </div>
                        <div class="file-uploaded-thumbnail">
                            <img src="./../../../../../assets/css/img/image 3.png" class="img-thumbnail" data-toggle="modal" data-target="#image-upload-preview" data-image-upload-path="./css/img/midlothian-isd-referral-form.jpg" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!---Share referral modal-->
<div class="modal fade" id="shareLinkModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                    <h2 class="modal-title">Share referral</h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label class="st-label">Share with</label>
                        <input type="text" class="form-control" id="user" placeholder="Select a user to share with" disabled>
                        <button type="button" class="btn btn-link" data-toggle="modal" data-target="#selectUserModal">Select a user</button>
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="st-label">Message (optional)</label>
                        <textarea class="form-control" id="message" placeholder="Type message you want to include in email" rows="3"></textarea>
                    </div>
                </form>
                <div class="form-group">
                    <button type="button" class="btn btn-primary">Send</button>
                    <button type="button" class="btn btn-link" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!---Select user modal-->
<div class="modal fade" id="selectUserModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                    <h2 class="modal-title">Select a user</h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <results-list [objects]="userResults"></results-list>
                </form>
                <div class="form-group">
                    <button type="button" class="btn btn-primary">Select</button>
                    <button type="button" class="btn btn-link" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!---Email report modal-->
<div class="modal fade" id="emailReportModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                    <h2 class="modal-title">Email a report</h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <button type="button" class="btn btn-outline-primary">Preview report</button>
                    </div>
                    <div class="form-group">
                        <label class="st-label">Email address</label>
                        <input type="email" class="form-control" id="emailaddress" placeholder="Type email address of person you are sharing with">
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="st-label">Message (optional)</label>
                        <textarea class="form-control" id="message" placeholder="Type message you want to include in email" rows="3"></textarea>
                    </div>
                </form>
                <div class="form-group">
                    <button type="button" class="btn btn-primary">Send</button>
                    <button type="button" class="btn btn-link" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!---Add note modal-->
<div class="modal fade" id="addNoteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                    <h2 class="modal-title">Add a note to the referral</h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="message-text" class="st-label">Message (optional)</label>
                        <textarea class="form-control" id="message" placeholder="Type message you want to include in email" rows="3"></textarea>
                    </div>
                </form>
                <div class="form-group">
                    <button type="button" class="btn btn-primary">Add note</button>
                    <button type="button" class="btn btn-link" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!---upload modal-->
<div class="modal fade" id="uploadModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                    <h4 class="modal-title">Upload a file</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="file-text" class="st-label">File</label>
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" id="customFile">
                            <label class="custom-file-label" for="customFile">Select a file from your computer to upload</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="st-label">Note (optional)</label>
                        <textarea class="form-control" id="note" placeholder="Type any notes you want to include with the upload" rows="3"></textarea>
                    </div>
                </form>
                <div class="form-group">
                    <button type="button" class="btn btn-primary">Upload</button>
                    <button type="button" class="btn btn-link" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!---Assign modal-->
<div class="modal fade" id="assignModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                    <h2 class="modal-title">Assign referral</h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <div class="col-12">
                            <label class="st-custom-radio-img-label mr-2">
                                <input type="radio" name="test" value="small" class="st-custom-img-radio" id="recurrenceOnce" checked>
                                <span>Pine Tree Elementary</span>
                                <i class="fa fa-check"></i>
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-12">
                            <label class="st-custom-radio-img-label mr-2">
                                <input type="radio" name="test" value="big" class="st-custom-img-radio" id="recurrenceRecurring">
                                <span>Transportation Department</span>
                                <i class="fa fa-check"></i>
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="st-label">Assign to a different user or campus</label>
                        <input type="text" class="form-control" id="user" placeholder="Type username and select user from dropdown">
                    </div>
                </form>
                <div class="form-group">
                    <button type="button" class="btn btn-primary">Assign</button>
                    <button type="button" class="btn btn-link" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!---Suspend modal-->
<div class="modal fade" id="suspendModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                    <h2 class="modal-title">Suspend Kevin from riding the bus</h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="row">
                        <div class="col-6">
                            <div class="form-group">
                                <label class="st-label">Suspend from</label>
                                <input type="text" class="form-control" id="dateFrom" bsDatepicker [bsValue]="bsValue" [bsConfig]="{ showWeekNumbers:false, isAnimated: true }">
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label class="st-label">Suspend to</label>
                                <input type="text" class="form-control" id="datetTo" bsDatepicker [bsValue]="bsValue" [bsConfig]="{ showWeekNumbers:false, isAnimated: true }">
                            </div>
                        </div>
                    </div>
                </form>
                <div class="form-group">
                    <button type="button" class="btn btn-primary">Add note</button>
                    <button type="button" class="btn btn-link" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!---Referral History-->
<div class="modal fade" id="historyModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                    <h2 class="modal-title">Keventa's Referral History</h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">Date</th>
                                <th scope="col">Referral Type</th>
                                <th scope="col">Referral Reasons</th>
                                <th scope="col"></th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>11/20/2019</td>
                                <td>Discipline</td>
                                <td>Violation of safety procedures Excessive mischief</td>
                                <td><span class="badge badge-danger">Suspend</span></td>
                                <td><a routerLink="/main/referral/view/1">Go to referral</a></td>
                            </tr>
                            <tr>
                                <td>11/20/2019</td>
                                <td>Discipline</td>
                                <td>Violation of safety procedures Excessive mischief</td>
                                <td><span></span></td>
                                <td><a routerLink="/main/referral/view/1">Go to referral</a></td>
                            </tr>
                            <tr>
                                <td>11/20/2019</td>
                                <td>Commendation</td>
                                <td>Helped fellow student</td>
                                <td><span></span></td>
                                <td><a routerLink="/main/referral/view/1">Go to referral</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <br>
                <div class="form-group">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="./../../../../../assets/js/st-modal.js"></script>