@import '../../../../assets/css/smart-tag-styles.css';
@import '../../../../assets/Content/animate.css';

h3{
    color: #5e5d5d;
}

th{
    font-family: Arial, Helvetica, sans-serif;
    color: #5e5d5d;
    font-size: 14px;
    font-weight: bolder;
}

tr{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

label{
    color: white;
    padding-top: 20px;
    padding-left: 20px;
    padding-bottom: 10px;
    font-size: small;
}

#driverName{
    margin-left: -20px;
}

#minref{
    margin-left: 122px;
}

#maxref{
    margin-left: 15px;
}

#minreferral{
    margin-left: 10px;
    width: 100px;
}

#maxreferral{
    margin-left: 10px;
    width: 100px;
}

#search{
    margin-left: 10px;
    width: 90px;
}

table{
    margin-top: -10px;
}

@media (min-width: 640px) {
    table { grid-template-columns: repeat(2, 1fr); }
  }

@media (max-width: 1200px) {
    table { grid-template-columns: repeat(2, 1fr); }
  }

table tbody{
    border: 2px solid #ddd;
}

table thead{
    border: none;
}

#btnView{
    margin-bottom:-10px;
    margin-top: 5px;
}