<script src="https://kit.fontawesome.com/e2e976ec77.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<h3 class="display-2 text-semi-bold">Student Profile</h3>
<div class="row">
    <div class="col-4 mt-3">
        <div class="st-section-header">
            <h2>Student Info</h2>
        </div>
        <div class="card">
            <div class="studentform">
                <img src="./../../../../../assets/images/driver.jpg">
                <p>Student Name</p>
                <h6 style="margin-left:20px; margin-top: -10px; margin-bottom: 20px;">Harris Mclean</h6>
                <p>Student ID</p>
                <h6 style="margin-left:20px; margin-top: -10px; margin-bottom: 20px;">123456</h6>
                <p>Date Of Birth</p>
                <h6 style="margin-left:20px; margin-top: -10px; margin-bottom: 20px;">11/01/2000</h6>
                <p>Campus</p>
                <h6 style="margin-left:20px; margin-top: -10px; margin-bottom: 20px;">Pine Tree Elementary</h6>
                <p>Grade</p>
                <h6 style="margin-left:20px; margin-top: -10px; margin-bottom: 20px;">4</h6>
                <hr>
                <p>Parent Name</p>
                <h6 style="margin-left:20px; margin-top: -10px; margin-bottom: 20px;">Charles Skinner</h6>
                <p>Parent Email</p>
                <h6 style="margin-left:20px; margin-top: -10px; margin-bottom: 20px;">charles@email.com</h6>
                <p>Parent Phone</p>
                <h6 style="margin-left:20px; margin-top: -10px; margin-bottom: 20px;">555-555-5555</h6>
                <button type="button" class="btn btn-outline-primary">Edit</button>
            </div>
        </div>
    </div>
    <div class="col-8 mt-3">
        <h6>Referrals</h6>
        <div class="card">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">Date</th>
                                <th scope="col">Referral Type</th>
                                <th scope="col">Route</th>
                                <th scope="col">Driver</th>
                                <th scope="col">Status</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>11/20/2019</td>
                                <td>Discipline</td>
                                <td>123 I'M A ROUTE AM 1</td>
                                <td>Ryder Corona</td>
                                <td><span class="badge badge-warning">Not Approved</span></td>
                                <td><a routerLink="/main/referral/view/1">View</a></td>
                            </tr>
                            <tr>
                                <td>11/20/2019</td>
                                <td>Discipline</td>
                                <td>123 I'M A ROUTE AM 1</td>
                                <td>Ryder Corona</td>
                                <td><span class="badge badge-warning">Not Approved</span></td>
                                <td><a routerLink="/main/referral/view/1">View</a></td>
                            </tr>
                            <tr>
                                <td>11/20/2019</td>
                                <td>Discipline</td>
                                <td>123 I'M A ROUTE AM 1</td>
                                <td>Ryder Corona</td>
                                <td><span class="badge badge-danger">Action Required</span></td>
                                <td><a routerLink="/main/referral/view/1">View</a></td>
                            </tr>
                            <tr>
                                <td>11/20/2019</td>
                                <td>Commendation</td>
                                <td>123 I'M A ROUTE AM 1</td>
                                <td>Ryder Corona</td>
                                <td><span class="badge badge-danger">Action Required</span></td>
                                <td><a routerLink="/main/referral/view/1">View</a></td>
                            </tr>
                            <tr>
                                <td>11/20/2019</td>
                                <td>Discipline</td>
                                <td>123 I'M A ROUTE AM 1</td>
                                <td>Ryder Corona</td>
                                <td><span class="badge badge-danger">Action Required</span></td>
                                <td><a routerLink="/main/referral/view/1">View</a></td>
                            </tr>
                            <tr>
                                <td>11/20/2019</td>
                                <td>Discipline</td>
                                <td>123 I'M A ROUTE AM 1</td>
                                <td>Ryder Corona</td>
                                <td><span class="badge badge-success">Completed</span></td>
                                <td><a routerLink="/main/referral/view/1">View</a></td>
                            </tr>
                            <tr>
                                <td>11/20/2019</td>
                                <td>Commendation</td>
                                <td>123 I'M A ROUTE AM 1</td>
                                <td>Ryder Corona</td>
                                <td><span class="badge badge-success">Completed</span></td>
                                <td><a routerLink="/main/referral/view/1">View</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>