@import '../../../../../assets/css/smart-tag-styles.css';
@import '../../../../../assets/Content/animate.css';

h3{
    color: #5e5d5d;
}

p{
    margin-left: 20px;
}

th{
    font-family: Arial, Helvetica, sans-serif;
    color: #5e5d5d;
    font-size: 14px;
    font-weight: bolder;
}

tr{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

table{
    margin-top: -10px;
    width: auto;

}

table tbody{
    border: 2px solid #ddd;
}

table thead{
    border: none;
}

.left-pane{
    width: 360px;
}

.right-pane{
    width: 870px;
}

.studentform{
    padding-left:20px;
    padding-top:20px;
    padding-bottom: 20px;
}

img{
    width: 110px;
    height: 110px;
    position: absolute;
    float: right;
    left: 250px;
    
}

button{
    margin-left: 20px;
    margin-top: 20px;
}