﻿
/* -----------------------

CUSTOM RADIO IMAGE BUTTONS


   ----------------------- */


label.st-custom-radio-img-label {
    position: relative;
    display:inline-block;
}

label.st-custom-radio-img-label:hover {
    @include box-shadow(0 0 8px rgba(0,123,255,.6));
    border-color: #0069d9;
    cursor: pointer;
}

/* HIDE RADIO */
.st-custom-img-radio {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

/* IMAGE STYLES */
.st-custom-img-radio + img {
    cursor: pointer;
    border: 1px solid #007BFF;
    border-radius: .25rem;
    padding: 10px 10px 30px 10px;
    pointer-events: none;
    -moz-user-select: -moz-none;
}

/* CHECKED STYLES */
.st-custom-img-radio:checked + img {
    background: #007BFF;
    display: inline-block;
    pointer-events: none;
    -moz-user-select: -moz-none;
}

/* IMAGE STYLES */
.st-custom-img-radio + img:hover {
    @include box-shadow(0 0 8px rgba(0,123,255,.6));
    border-color: #0069d9;
    cursor: pointer;
}

/* IMAGE STYLES */
.st-custom-img-radio:checked + img:hover {
    @include box-shadow(0 0 8px rgba(0,123,255,.6));
    background: #007BFF;
    cursor: pointer;
}

/* IMAGE STYLES */
.st-custom-img-radio:focus + img:hover {
    @include box-shadow(0 0 8px rgba(0,123,255,.6));
    cursor: pointer;
}

.st-custom-img-radio ~ i {
    position: absolute;
    right: .3rem;
    top: .3rem;
    color: #fce6b1;
    display: none;
    font-size: 1.2rem;
}

/* CHECKED STYLES */
.st-custom-img-radio:checked ~ i {
    display: inline;
}

.st-custom-img-radio ~ span {
    position: absolute;
    bottom: .3rem;
    color: #007BFF;
    display: block;
    width: 100%;
    text-align: center;
}

.st-custom-img-radio ~ span:hover {
    @include box-shadow(0 0 8px rgba(0,123,255,.6));
    cursor: pointer;
}

/* CHECKED STYLES */
.st-custom-img-radio:checked ~ span {
    color: #fff;
}
