﻿.st-loader-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    text-align: center;
    /* Fallback for web browsers that don't support RGBa */
    background-color: rgb(256, 256, 256);
    /* RGBa with 0.6 opacity */
    background-color: rgba(256, 256, 256, 0.6);
    /* For IE 5.5 - 7*/
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#99FFFFFF, endColorstr=#99FFFFFF);
    /* For IE 8*/
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99FFFFFF, endColorstr=#99FFFFFF)";
}

.st-loader-wrapper {
    width: 65px;
    height: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.st-loader-circle {
    width: 15px;
    height: 15px;
    margin-right: 10px;
    background: transparent;
    border-radius: 10px;
    animation: st-loader-animation 1.5s infinite alternate;
}

.st-loader-circle:nth-child(2) {
    animation-delay: .3s;
}

.st-loader-circle:nth-child(3) {
    margin-right: 0;
    animation-delay: .6s;
}

@keyframes st-loader-animation {
    to {
        background: $blue-300;
    }
}



/*@keyframes progress-circle {
    0% {
        transform: translateY(-50%) rotate(0);
    }

    100% {
        transform: translateY(-50%) rotate(1turn);
    }
}

.loading-circle {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #F0F2F4;
    overflow: hidden;

    &::before {
        content: " ";
        display: block;
        position: absolute;
        background-color: $yellow-400;
        top: 0px;
        left: 0px;
        right: 0px;
        bottom: 0px;
        transform: translateY(-100%);
        transform-origin: center bottom;
        animation: progress-circle 1s cubic-bezier(0.57, 0.13, 0.49, 0.94) infinite;
    }

    &::after {
        content: " ";
        display: block;
        position: absolute;
        background-color: white;
        top: 4px;
        left: 4px;
        right: 4px;
        bottom: 4px;
        border-radius: 50%;
    }
}*/

.st-spinner-background {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    text-align: center;
    /* Fallback for web browsers that don't support RGBa */
    background-color: rgb(256, 256, 256);
    /* RGBa with 0.6 opacity */
    background-color: rgba(256, 256, 256, 0.6);
    /* For IE 5.5 - 7*/
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#99FFFFFF, endColorstr=#99FFFFFF);
    /* For IE 8*/
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99FFFFFF, endColorstr=#99FFFFFF)";
}