<script src="https://kit.fontawesome.com/e2e976ec77.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<h3 class="display-2 text-semi-bold">Campuses</h3>
<div class="row">
    <div class="col mt-3">
        <div class="card">
            <div class="card-header">
                <form class="form-inline">
                    <label for="campus" id="campusName">Campus Name</label>
                    <label for="minreferral" id="minref">Min. Referrals</label>
                    <label for="maxreferral" id="maxref">Max. Referrals</label>
                </form>
                <form class="form-inline">
                    <input type="text" class="form-control" id="campus">
                    <input type="text" class="form-control" id="minreferral">
                    <input type="text" class="form-control" id="maxreferral">
                    <button type="button" class="btn btn-primary" id="search">Search</button>
                </form>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-striped" mat-table #table [dataSource]="dataSource" matSort>
                        <thead>
                            <ng-container matColumnDef="CampusName">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Campus</th>
                                <td mat-cell *matCellDef="let element"> {{element.CampusName }} </td>
                            </ng-container>

                            <!-- <ng-container matColumnDef="Referrals">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Referrals</th>
                                <td mat-cell *matCellDef="let element"> {{element.ReferralType }} </td>
                            </ng-container> -->
            
                            <ng-container matColumnDef="ReferralGroup">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Referal Groups</th>
                                <td mat-cell *matCellDef="let element">{{ element.ReferralGroup }} </td>
                            </ng-container>
            
                            <ng-container matColumnDef="Actions">
                                <th mat-header-cell *matHeaderCellDef class="columnSpace">  </th>
                                <td mat-cell *matCellDef="let element" class="columnSpace">
                                    <button type="button" class="btn btn-link" id="btnView">View</button>
                                </td>
                            </ng-container>
            
                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        </thead>
                        <tbody>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                        </tbody>
                    </table>
                </div>
                <mat-paginator [pageSizeOptions]="[10, 25, 50, 100]" showFirstLastButtons></mat-paginator>
            </div>
        </div>
    </div>
</div>