<ul class="nav navbar-nav">
    <li class="dropdown">
        <a href="#" class="nav-link dropdown-toggle" id="navbarDropdown" data-toggle="dropdown" aria-expanded="false"> 
            Welcome, {{user}} <i class="far fa-user"></i> <b class="caret"></b>
        </a>
        <div class="dropdown-menu dropdown-menu-right drop-user" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Settings</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#" (click)="onLogout()">Logout</a>
        </div>
    </li>
</ul>