.drop-user {
    position: absolute;
    top: 50px !important;
    left: -10px !important;
    transform: none !important;
    width: 100px;
}
.fa-user {
    background: #ccc;
    color: #fff;
    border-radius: 50%;
    padding: 8px;
}
.nav-link {
    color:#777;
}