@import '../../../../../assets/css/smart-tag-styles.css';
@import '../../../../../assets/Content/animate.css';

p{
    margin-left: 20px;
}

h3{
    color: #5e5d5d;
}

h6{
    margin-top:20px;
    color: #5e5d5d;
}

th{
    font-family: Arial, Helvetica, sans-serif;
    color: #5e5d5d;
    font-size: 14px;
    font-weight: bolder;
}

tr{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: normal;
}

#table-conduct{
    width: 950px;
}

table{
    margin-top: -10px;
    width: auto;
}

table tbody{
    border: 2px solid #ddd;
}

table thead{
    border: none;
}

.left-pane{
    max-width: 1200px;
}

// #table-conductstaff{
//     width: auto;
// }

.down-left-pane{
    width: 250px;
    margin-top:-80px;
}

.right-pane{
   max-width: 1200px;
}

@media (min-width: 481px) {
    .left-pane { grid-template-columns: repeat(2, 1fr); }
  }

@media (max-width: 800px){
    .down-left-pane {margin-top: 0;}
}

button{
    margin-left: 20px;
    margin-top: 20px;
}