<h3 class="display-2 text-semi-bold">Conduct Staff Profile</h3>
<div class="row">
    <div class="col-3 mt-3">
            <h6>Staff Info <span class="glyphicon glyphicon-info-sign"></span></h6>
            <div class="card">
                <div class="card-body">
                    <div class="conductform">
                        <p>Staff Name</p>
                        <h6 style="margin-left:20px;">Harris Mclean</h6>
                        <p>Staff Type</p>
                        <h6 style="margin-left:20px;">Campus</h6>
                        <p>Reports to</p>
                        <h6 style="margin-left:20px;">Maple Hills High</h6>
                        <button type="button" class="btn btn-outline-primary">Edit</button>
                    </div>
                </div>
            </div>
            <br>
            <h6>Harris Mclean's Referral Group <i class="fas fa-info-circle" data-toggle="tooltip" data-placement="bottom" title="This is a tooltip"></i></h6>
            <div class="card">
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-striped" id="table-conductstaff">
                            <thead>
                                <tr>
                                    <th scope="col">Referral group name</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Main Transportation Group</td>
                                </tr>
                                <tr>
                                    <td>Cooper Cove Elementary (N-Z)</td>
                                </tr>
                                <tr>
                                    <td>Cooper Cove Elementary (A-M)</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
    </div>
    <div class="col-9 mt-3">
        <h6>Referrals</h6>
        <div class="card">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">Date</th>
                                <th scope="col">Student</th>
                                <th scope="col">Referral Type</th>
                                <th scope="col">Route</th>
                                <th scope="col">Driver</th>
                                <th scope="col">Status</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>11/20/2019</td>
                                <td>Andreas Crawford</td>
                                <td>Discipline</td>
                                <td>123 I'M A ROUTE AM 1</td>
                                <td>Ryder Corona</td>
                                <td><span class="badge badge-warning">Not Approved</span></td>
                                <td><a routerLink="/main/referral/view/1">View</a></td>
                            </tr>
                            <tr>
                                <td>11/20/2019</td>
                                <td>Harris Mclean</td>
                                <td>Discipline</td>
                                <td>123 I'M A ROUTE AM 1</td>
                                <td>Ryder Corona</td>
                                <td><span class="badge badge-warning">Not Approved</span></td>
                                <td><a routerLink="/main/referral/view/1">View</a></td>
                            </tr>
                            <tr>
                                <td>11/20/2019</td>
                                <td>Kiya Hurley</td>
                                <td>Discipline</td>
                                <td>123 I'M A ROUTE AM 1</td>
                                <td>Ryder Corona</td>
                                <td><span class="badge badge-danger">Action Required</span></td>
                                <td><a routerLink="/main/referral/view/1">View</a></td>
                            </tr>
                            <tr>
                                <td>11/20/2019</td>
                                <td>Lily-an Foley</td>
                                <td>Commendation</td>
                                <td>123 I'M A ROUTE AM 1</td>
                                <td>Ryder Corona</td>
                                <td><span class="badge badge-danger">Action Required</span></td>
                                <td><a routerLink="/main/referral/view/1">View</a></td>
                            </tr>
                            <tr>
                                <td>11/20/2019</td>
                                <td>Conall Rosales</td>
                                <td>Discipline</td>
                                <td>123 I'M A ROUTE AM 1</td>
                                <td>Ryder Corona</td>
                                <td><span class="badge badge-danger">Action Required</span></td>
                                <td><a routerLink="/main/referral/view/1">View</a></td>
                            </tr>
                            <tr>
                                <td>11/20/2019</td>
                                <td>Leyla Sanford</td>
                                <td>Discipline</td>
                                <td>123 I'M A ROUTE AM 1</td>
                                <td>Ryder Corona</td>
                                <td><span class="badge badge-success">Completed</span></td>
                                <td><a routerLink="/main/referral/view/1">View</a></td>
                            </tr>
                            <tr>
                                <td>11/20/2019</td>
                                <td>Rogan Cline</td>
                                <td>Commendation</td>
                                <td>123 I'M A ROUTE AM 1</td>
                                <td>Ryder Corona</td>
                                <td><span class="badge badge-success">Completed</span></td>
                                <td><a routerLink="/main/referral/view/1">View</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>