<body id="bootstrap-overrides">
<h3 class="display-2 text-semi-bold">Pine Tree Elementary</h3>
<div class="row">
    <div class="col-12 mt-3">
        <div class="st-section-header">
            <h2 class="display-7 text-semi-bold">Pine Tree Elementary Referral Groups</h2>
            <span>Divide a campus into smaller groups to better direct referrals. You can add as many referral groups as you want, and separate them by grade or last name for automatic referral assignment.</span>
        </div>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary" id="btnAddGroup" data-toggle="modal" data-target="#addGroupModal">Add a group</button>
    </div>
    <div class="col-12">
        <span class="badge badge-warning"><p>No referral groups created. When no referral groups are created all users from this campus, that have referral notifications turned on, will receive a notification when a referral is assigned to this campus.</p></span>
    </div>
    <div class="col-6 mt-3">
        <div class="st-section-header">
            <h2>Pine Tree Elementary's Referral Activity</h2>
        </div>
        <div class="card">
            <ngx-charts-bar-vertical
                [view]="view"
                [scheme]="colorScheme"
                [results]="single"
                [gradient]="gradient"
                [xAxis]="showXAxis"
                [yAxis]="showYAxis"
                [legend]="showLegend"
                [showXAxisLabel]="showXAxisLabel"
                [showYAxisLabel]="showYAxisLabel"
                [xAxisLabel]="xAxisLabel"
                [yAxisLabel]="yAxisLabel"
                (select)="onSelect($event)">
            </ngx-charts-bar-vertical>
        </div>
    </div>
    <div class="col-6"></div>
    <div class="col-9 mt-5">
        <div class="st-section-header">
            <h2>Pine Tree Elementary Referrals</h2>
        </div>
        <div class="card">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">Date</th>
                                <th scope="col">Student</th>
                                <th scope="col">Referral Type</th>
                                <th scope="col">Route</th>
                                <th scope="col">Driver</th>
                                <th scope="col">Status</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>11/20/2019</td>
                                <td>Andreas Crawford</td>
                                <td>Discipline</td>
                                <td>123 I'M A ROUTE AM 1</td>
                                <td>Ryder Corona</td>
                                <td><span class="badge badge-warning">Action Required</span></td>
                                <td><a routerLink="/main/referral/view/1">View</a></td>
                            </tr>
                            <tr>
                                <td>11/20/2019</td>
                                <td>Andreas Crawford</td>
                                <td>Discipline</td>
                                <td>123 I'M A ROUTE AM 1</td>
                                <td>Ryder Corona</td>
                                <td><span class="badge badge-warning">Action Required</span></td>
                                <td><a routerLink="/main/referral/view/1">View</a></td>
                            </tr>
                            <tr>
                                <td>11/20/2019</td>
                                <td>Andreas Crawford</td>
                                <td>Discipline</td>
                                <td>123 I'M A ROUTE AM 1</td>
                                <td>Ryder Corona</td>
                                <td><span class="badge badge-danger">Action Required</span></td>
                                <td><a routerLink="/main/referral/view/1">View</a></td>
                            </tr>
                            <tr>
                                <td>11/20/2019</td>
                                <td>Andreas Crawford</td>
                                <td>Discipline</td>
                                <td>123 I'M A ROUTE AM 1</td>
                                <td>Ryder Corona</td>
                                <td><span class="badge badge-danger">Action Required</span></td>
                                <td><a routerLink="/main/referral/view/1">View</a></td>
                            </tr>
                            <tr>
                                <td>11/20/2019</td>
                                <td>Andreas Crawford</td>
                                <td>Discipline</td>
                                <td>123 I'M A ROUTE AM 1</td>
                                <td>Ryder Corona</td>
                                <td><span class="badge badge-success">Action Required</span></td>
                                <td><a routerLink="/main/referral/view/1">View</a></td>
                            </tr>
                            <tr>
                                <td>11/20/2019</td>
                                <td>Andreas Crawford</td>
                                <td>Discipline</td>
                                <td>123 I'M A ROUTE AM 1</td>
                                <td>Ryder Corona</td>
                                <td><span class="badge badge-success">Action Required</span></td>
                                <td><a routerLink="/main/referral/view/1">View</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

<!---Add group modal-->
<div class="modal fade" id="addGroupModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                    <h4 class="modal-title">Select Organization Type</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <h6>Does this campus separate referrals by grade or last name?</h6>
                    </div>
                    <div class="form-group">
                        <fieldset>
                            <label class="st-custom-radio-img-label mr-2">
                                <input type="radio" name="test" value="small" class="st-custom-img-radio" id="recurrenceOnce" checked>
                                <span>Grade</span>
                                <i class="fa fa-check"></i>
                            </label>
                            <label class="st-custom-radio-img-label mr-2">
                                <input type="radio" name="test" value="small" class="st-custom-img-radio" id="recurrenceOnce">
                                <span>Last Name</span>
                                <i class="fa fa-check"></i>
                            </label>
                        </fieldset>
                    </div>
                </form>
                <div class="form-group">
                    <button type="button" class="btn btn-primary">Save</button>
                    <button type="button" class="btn btn-link" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="./../../../../../assets/js/st-modal.js"></script>