@import '../../../../../assets/css/smart-tag-styles.css';
@import '../../../../../assets/Content/animate.css';


p{
    margin-left: 20px;
}

h3{
    color: #5e5d5d;
}

h2{
    color: #5e5d5d !important;
}

span{
    font-size: 14px;
    color: #5e5d5d !important;
}

p{
    padding-top: 10px;
    padding-bottom: -10px;
    padding-left: -5px;
    padding-right: 5px;
    color: maroon !important;
}

h6{
    color: #000;
}

th{
    font-family: Arial, Helvetica, sans-serif;
    color: #5e5d5d;
    font-size: 14px;
    font-weight: bolder;
}

tr{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

table{
    margin-top: -10px;
    width: 890px;
}

table tbody{
    border: 2px solid #ddd;
}

table thead{
    border: none;
}

.left-pane{
    width: 280px;
}

.right-pane{
    width: 940px;
}

.campusform{
    padding-top:20px;
    padding-bottom: 20px;
}

img{
    width: 160px;
    height: 150px;
    position: absolute;
    float: right;
    left: 200px;
    
}

button{
    margin-left: 15px;
}