﻿/*  ----------------------------------------
    This file contains general reusable uitilities
    We try to keep the styling minimal here to ensure the utitility classes are as reusable as possible
    ---------------------------------------- */

/* -----------------------

    SMART TAG UTILITIES

   ----------------------- */

.st-shadow-sm {
    box-shadow: 0 1px 2px $gray-400;
}

.st-text-small {
    font-size: .8rem;
    line-height: 1rem;
}

.st-bg-cover {
    background-size: cover;
    min-height: 100vh;
}

.flex-even {
    flex: 1;
}

@include media-breakpoint-down("lg") {
    .border-right-lg-none {
        border-right: none !important;
    }
}

@include media-breakpoint-up("xl") {
    .border-bottom-xl-none {
        border-bottom: none !important;
    }
}