@import '../../../../assets/css/smart-tag-styles.css';
@import '../../../../assets/Content/animate.css';

h3{
    color: #5e5d5d;
}

th{
    font-family: Arial, Helvetica, sans-serif;
    color: #5e5d5d;
    font-size: 14px;
    font-weight: bolder;
}

tr{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

table{
    margin-top: -10px;
    width: auto;
}

table tbody{
    border: 2px solid #ddd;
}

table thead{
    border: none;
}

button{
    margin-top: 5px;
    margin-bottom: 20px;
}

.below-left-pane{
    max-width: 1200px;
}

.up-left-pane{
    max-width: 1200px;
}

.up-right-pane{
    max-width: 1200px;
}

.below-right-pane{
    max-width: 1200px;
}

@media (min-width: 600px) {
    .up-left-pane { grid-template-columns: repeat(2, 1fr); }
    .up-right-pane { grid-template-columns: repeat(2, 1fr); }
  }

@media (min-width: 600px) {
    .below-left-pane { grid-template-columns: repeat(2, 1fr); }
    .below-right-pane { grid-template-columns: repeat(2, 1fr); }
}

.settingsLogo{
    position: absolute;
    left: 613px;
    top: -3px;
}