<h3 class="display-2 text-semi-bold">Dashboard</h3>
<!-- <div class="row">
    <div class="col-10"></div>
    <div class="col-2">
        <div><user-info></user-info></div>
    </div>
</div> -->
<div class="row">
    <div class="col-6 mt-3">
        <div class="st-section-header">
            <h2>Last 30 Days activity overview</h2>
        </div>
        <div class="card">
            <ngx-charts-bar-vertical
                [view]="view"
                [scheme]="colorScheme"
                [results]="single"
                [gradient]="gradient"
                [xAxis]="showXAxis"
                [yAxis]="showYAxis"
                [legend]="showLegend"
                [showXAxisLabel]="showXAxisLabel"
                [showYAxisLabel]="showYAxisLabel"
                [xAxisLabel]="xAxisLabel"
                [yAxisLabel]="yAxisLabel"
                (select)="onSelect($event)">
            </ngx-charts-bar-vertical>
        </div>
        <!-- <div id="chartContainer" style="height: 370px; width: 100%;"></div> -->
    </div>
    <div class="col-4 mt-3">
        <div class="st-section-header">
            <h2>My Referral Groups <i class="fas fa-info-circle" data-toggle="tooltip" data-placement="bottom" title="This is a tooltip"></i></h2>
        </div>
        <div class="card">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">Referral group name</th>
                                <th scope="col"></th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Main Transportation Group</td>
                                <td><a href="#">Edit</a></td>
                                <td><a href="#">Delete</a></td>
                            </tr>
                            <tr>
                                <td>Cooper Cove Elementary (N-Z)</td>
                                <td><a href="#">Edit</a></td>
                                <td><a href="#">Delete</a></td>
                            </tr>
                            <tr>
                                <td>Cooper Cove Elementary (A-M)</td>
                                <td><a href="#">Edit</a></td>
                                <td><a href="#">Delete</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <button type="submit" class="btn btn-outline-primary">Subscribe to another group</button>
            </div>
        </div>
    </div>
    <div class="col-lg-6 mt-4">
        <div class="st-section-header">
            <h2>Referrals I'm following <i class="fas fa-info-circle" data-toggle="tooltip" data-placement="bottom" title="This is a tooltip"></i></h2>
        </div>
        <div class="settingsLogo">
            <i class="fas fa-cog" data-toggle="tooltip" data-placement="bottom" title="This is a tooltip"></i>
        </div>
        <div class="card">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-striped" id="table-dashboard">
                        <thead>
                            <tr>
                                <th scope="col">Date</th>
                                <th scope="col">Student Name</th>
                                <th scope="col">Type</th>
                                <th scope="col">Status</th>
                                <th scope="col"></th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>11/20/2019</td>
                                <td>Andreas Crawford</td>
                                <td>Discipline</td>
                                <td><span class="badge badge-warning">Not Approved</span></td>
                                <td><a routerLink="/main/referral/view/1">View</a></td>
                                <td><a routerLink="/main/referral/edit/1">Edit</a></td>
                            </tr>
                            <tr>
                                <td>11/20/2019</td>
                                <td>Andreas Crawford</td>
                                <td>Discipline</td>
                                <td><span class="badge badge-warning">Not Approved</span></td>
                                <td><a routerLink="/main/referral/view/1">View</a></td>
                                <td><a routerLink="/main/referral/edit/1">Edit</a></td>
                            </tr>
                            <tr>
                                <td>11/20/2019</td>
                                <td>Andreas Crawford</td>
                                <td>Discipline</td>
                                <td><span class="badge badge-danger">Action Required</span></td>
                                <td><a routerLink="/main/referral/view/1">View</a></td>
                                <td><a routerLink="/main/referral/edit/1">Edit</a></td>
                            </tr>
                            <tr>
                                <td>11/20/2019</td>
                                <td>Andreas Crawford</td>
                                <td>Discipline</td>
                                <td><span class="badge badge-danger">Action Required</span></td>
                                <td><a routerLink="/main/referral/view/1">View</a></td>
                                <td><a routerLink="/main/referral/edit/1">Edit</a></td>
                            </tr>
                            <tr>
                                <td>11/20/2019</td>
                                <td>Andreas Crawford</td>
                                <td>Discipline</td>
                                <td><span class="badge badge-success">Completed</span></td>
                                <td><a routerLink="/main/referral/view/1">View</a></td>
                                <td><a routerLink="/main/referral/edit/1">Edit</a></td>
                            </tr>
                            <tr>
                                <td>11/20/2019</td>
                                <td>Andreas Crawford</td>
                                <td>Discipline</td>
                                <td><span class="badge badge-success">Completed</span></td>
                                <td><a routerLink="/main/referral/view/1">View</a></td>
                                <td><a routerLink="/main/referral/edit/1">Edit</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-6 mt-4">
        <div class="st-section-header">
            <h2>Referrals requiring action <i class="fas fa-info-circle" data-toggle="tooltip" data-placement="bottom" title="This is a tooltip"></i></h2>
        </div>
        <div class="card">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">Date</th>
                                <th scope="col">Student</th>
                                <th scope="col">Type</th>
                                <th scope="col">Referral Group</th>
                                <th scope="col">Status</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>11/20/2019</td>
                                <td>Andreas Crawford</td>
                                <td>Discipline</td>
                                <td>Maple Elementary</td>
                                <td><span class="badge badge-danger">Action Required</span></td>
                                <td><a routerLink="/main/referral/view/1">View</a></td>
                            </tr>
                            <tr>
                                <td>11/20/2019</td>
                                <td>Andreas Crawford</td>
                                <td>Discipline</td>
                                <td>Cooper Cove Elementary (N-Z)</td>
                                <td><span class="badge badge-danger">Action Required</span></td>
                                <td><a routerLink="/main/referral/view/1">View</a></td>
                            </tr>
                            <tr>
                                <td>11/20/2019</td>
                                <td>Andreas Crawford</td>
                                <td>Discipline</td>
                                <td>Cooper Cove Elementary (N-Z)</td>
                                <td><span class="badge badge-danger">Action Required</span></td>
                                <td><a routerLink="/main/referral/view/1">View</a></td>
                            </tr>
                            <tr>
                                <td>11/20/2019</td>
                                <td>Andreas Crawford</td>
                                <td>Discipline</td>
                                <td>Cooper Cove Elementary (N-Z)</td>
                                <td><span class="badge badge-danger">Action Required</span></td>
                                <td><a routerLink="/main/referral/view/1">View</a></td>
                            </tr>
                            <tr>
                                <td>11/20/2019</td>
                                <td>Andreas Crawford</td>
                                <td>Discipline</td>
                                <td>Cooper Cove Elementary (N-Z)</td>
                                <td><span class="badge badge-danger">Action Required</span></td>
                                <td><a routerLink="/main/referral/view/1">View</a></td>
                            </tr>
                            <tr>
                                <td>11/20/2019</td>
                                <td>Andreas Crawford</td>
                                <td>Discipline</td>
                                <td>Cooper Cove Elementary (N-Z)</td>
                                <td><span class="badge badge-danger">Action Required</span></td>
                                <td><a routerLink="/main/referral/view/1">View</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <script src="./../../../../assets/js/st-modal.js"></script>
  <script>
    $(function () {
      $('[data-toggle="tooltip"]').tooltip()
    });

    $('#image-upload-preview').on('show.bs.modal', function (event) {
      var button = $(event.relatedTarget) // Button that triggered the modal
      var path = button.data('image-upload-path') // Extract info from data-* attributes
      // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
      // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
      var modal = $(this)
      modal.find('.img-preview').attr('src', path)
    });
  </script>
  
  <script>
    // Example starter JavaScript for disabling form submissions if there are invalid fields
    (function() {
      'use strict';
      window.addEventListener('load', function() {
        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        var forms = document.getElementsByClassName('needs-validation');
        // Loop over them and prevent submission
        var validation = Array.prototype.filter.call(forms, function(form) {
          form.addEventListener('submit', function(event) {
            if (form.checkValidity() === false) {
              event.preventDefault();
              event.stopPropagation();
            }
            form.classList.add('was-validated');
          }, false);
        });
      }, false);
    })();
  </script>