

<div class="container-login">
    
    <div class="wrap-login">
        <div class="upper-login">
            <img src="./../../../../assets/images/smart-conduct-logo.png" class="center">

            <div class="row-img">
                <div class="column">
                    <img src="./../../../../assets/css/img/referral-type-discipline-48x56.svg">
                </div>
                <div class="column">
                    <img src="./../../../../assets/css/img/referral-type-commendation-48x56.svg">
                </div>
                <div class="column">
                    <img src="./../../../../assets/css/img/referral-type-health-wellness-48x56.svg">
                </div>
            </div>
            <p class="text-white">A school bus safely and discipline management platform by the SMART tag&trade; team </p>
        </div>
        <form [formGroup]="form" (ngSubmit)="onSubmit()" class="wrap-form">
            <h3>Login</h3>
            <div class="form-group">
                <label>{{ idText }}</label>
                <input type="text" class="form-control login-inputs" placeholder="{{ idText }}" [(ngModel)]="username" required="required" formControlName="userName">
            </div>
            <div class="form-group">
                <label>{{ pwText }}</label>
                <input type="password" class="form-control login-inputs" placeholder="{{ pwText }}" [(ngModel)]="password" required="required" formControlName="password">
            </div>
            <button type="submit" class="btn btn-black  btn-login">Login</button>
        </form>
        <p *ngIf="!isDriver" class="white text-center login-switch">Are you a driver? Log in through the <a class="clickable" (click)="switch()">driver login</a>.</p>
        <p *ngIf="isDriver" class="white text-center login-switch">Are you an office staff? Log in through the <a class="clickable" (click)="switch()">login</a>.</p>
    </div>
</div>