
.btn-black{
    background-color: #2d2c2b !important;
    color: #fff;
}

/** NEW **/
.container-login {
    border-top:20px solid #fec62c;
    width: 100%;
    min-height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background: #2d2c2b;
}

.wrap-login {
    width: 500px;
    overflow: hidden;
}

.wrap-form {
    padding: 50px 40px;
    background: #fff;
    border-radius: 5px;
}

.text-white {
    color:#fff;
    text-align: center;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
    float: left;
    padding: 5px;
  }
  .row-img {
    display: block;
    margin: auto;
    width: 270px;
  }
  
  /* Clear floats after image containers */
  .row-img::after {
    content: "";
    clear: both;
    display: table;
  }
  .row-img img{
    width:80px;
  }

  .white {
      color:#fff;
  }
  .login-switch {
      padding-top:15px;
  }
  .clickable {
      cursor: pointer;
      color:#007bff !important;
  }
  .clickable::hover {
    color:#007bff;
  }