<script src="https://kit.fontawesome.com/e2e976ec77.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<!-- <body id="bootstrap-overrides">
</body> -->
<h3 class="display-2 text-semi-bold">Referral Groups</h3>
<div class="row">
    <div class="col-4 mt-3">
        <div class="st-section-header">
            <h2>Edit Copper Cove Elementary</h2>
        </div>
        <div class="card">
            <div class="card-body">
                <form>
                    <div class="form-group">
                        <label for="inputGroupName" class="st-label">Group Name</label>
                        <input type="text" class="form-control" id="referralGroupName" value="Copper Cove Elementary">
                    </div>
                    <div class="form-group">
                        <label for="inputGroupDesc" class="st-label">Group description</label>
                        <textarea class="form-control" rows="4" id="referralGroupdesc"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="inputReferralCoordinator" class="st-label">Referral Coordinator</label>
                        <input type="text" class="form-control" id="refCoordinator" value="Claudia Valenzuela" disabled>
                        <a href="#" class="btn btn-link">Change group owner</a>
                    </div>
                    <div class="form-group"></div>
                    <div class="custom-control custom-checkbox mb-2">
                        <input type="checkbox" class="custom-control-input" id="exampleCheck1" checked="checked" disabled>
                        <label class="custom-control-label" for="exampleCheck1">Send an email to this group when a referral is created. <a href="#">More info</a></label>
                    </div>
                    <div class="form-group">
                            <button type="button" class="btn btn-primary">Save</button>
                            <!-- <button type="button" class="btn btn-outline-primary">Cancel</button> -->
                            <button type="button" class="btn btn-link" (click)="close()">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-8 mt-3">
        <div class="st-section-header">
            <h2>Group Subscribers <i class="fas fa-info-circle" data-toggle="tooltip" data-placement="bottom" title="This is a tooltip"></i></h2>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addSubscriberModal">Add a subriber</button>
        </div>
        <div class="card">
            <div class="card-body">
                <div class="table-responsive-sm">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">Subscriber Name</th>
                                <th></th>
                                <th scope="col">Title</th>
                                <th scope="col">Email</th>
                                <th scope="col"></th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Andreas Crawford</td>
                                <td></td>
                                <td>Staff</td>
                                <td>a.crawford@stisd.com</td>
                                <td><button type="button" class="btn btn-link" data-toggle="modal" data-target="#addSubscriberModal" id="btnEdit">Edit</button></td>
                                <td><button type="button" class="btn btn-link" id="btnDelete">Delete</button></td>
                            </tr>
                            <tr>
                                <td>Krzysztof Livingston</td>
                                <td></td>
                                <td>Staff</td>
                                <td>k.livingston@stisd.com</td>
                                <td><button type="button" class="btn btn-link" data-toggle="modal" data-target="#addSubscriberModal" id="btnEdit">Edit</button></td>
                                <td><button type="button" class="btn btn-link" id="btnDelete">Delete</button></td>
                            </tr>
                            <tr>
                                <td>Harris Mcclain</td>
                                <td></td>
                                <td>Staff</td>
                                <td>h.mcclain@stisd.com</td>
                                <td><button type="button" class="btn btn-link" data-toggle="modal" data-target="#addSubscriberModal" id="btnEdit">Edit</button></td>
                                <td><button type="button" class="btn btn-link" id="btnDelete">Delete</button></td>
                            </tr>
                            <tr>
                                <td>Lily-An Foley</td>
                                <td></td>
                                <td>Assistant Principal</td>
                                <td>l.foley@stisd.com</td>
                                <td><button type="button" class="btn btn-link" data-toggle="modal" data-target="#addSubscriberModal" id="btnEdit">Edit</button></td>
                                <td><button type="button" class="btn btn-link" id="btnDelete">Delete</button></td>
                            </tr>
                            <tr>
                                <td>Claudia Valenzuela</td>
                                <td><span class="badge badge-info">Coordinator</span></td>
                                <td>Principal</td>
                                <td>c.valenzuela@stisd.com</td>
                                <td><button type="button" class="btn btn-link" data-toggle="modal" data-target="#addSubscriberModal" id="btnEdit">Edit</button></td>
                                <td><button type="button" class="btn btn-link" id="btnDelete">Delete</button></td>
                            </tr>
                            <tr>
                                <td>Rogan Cline</td>
                                <td></td>
                                <td>Staff</td>
                                <td>r.cline@stisd.com</td>
                                <td><button type="button" class="btn btn-link" data-toggle="modal" data-target="#addSubscriberModal" id="btnEdit">Edit</button></td>
                                <td><button type="button" class="btn btn-link" id="btnDelete">Delete</button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<!---Add Subscriber-->
<div class="modal fade" id="addSubscriberModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                    <h2 class="modal-title">Add a subscriber</h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label class="st-label">Subscriber Name</label>
                        <input type="text" class="form-control" placeholder="Type subscriber name">
                    </div>
                    <div class="form-group">
                        <label class="st-label">Title</label>
                        <select class="form-control" id="exampleFormControlSelect1">
                            <option>Staff</option>
                            <option>Principal</option>
                            <option>Assistant Principal</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="st-label">Email address</label>
                        <input type="email" class="form-control" id="emailaddress" placeholder="Type subscriber email address">
                    </div>
                </form>
                <div class="form-group">
                    <button type="button" class="btn btn-primary">Save</button>
                    <button type="button" class="btn btn-link" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="./../../../../../assets/js/st-modal.js"></script>