@import '../../../../../assets/css/smart-tag-styles.css';
@import '../../../../../assets/Content/animate.css';


p{
    margin-left: 20px;
}

h3{
    color: #5e5d5d;
}

h6{
    margin-top:20px;
    color: #5e5d5d;
}

th{
    font-family: Arial, Helvetica, sans-serif;
    color: #5e5d5d;
    font-size: 14px;
    font-weight: bolder;
}

tr{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

table{
    margin-top: -10px;
    width: 780px;
}

table tbody{
    border: 2px solid #ddd;
}

table thead{
    border: none;
}

.left-pane{
    max-width: 600px;
}

.right-pane{
    max-width: 1200px;
}

button{
    margin-top: 20px;
}

@media (min-width: 600px) {
    .left-pane { grid-template-columns: repeat(2, 1fr); }
    .right-pane { grid-template-columns: repeat(2, 1fr); }
  }

#btnEdit{
    margin:-10px;
}

#btnDelete{
    margin:-10px;
}