@import '../../../../../assets/css/smart-tag-styles.css';
@import '../../../../../assets/Content/animate.css';


h2{
    color: #5e5d5d;
    text-align: center;
}

h6{
    color: #5e5d5d;
    text-align: center;
}

.width-400 {
    width:40%;
}
/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
    float: left;
    padding: 10px 13px 0 13px;
  }
.row-img {
    display: inline-block;
    margin: 0 10px;
    height: 100px;
    width: 120px;
    border: 1px solid #007bff;
    border-radius:5px;
}

/* Clear floats after image containers */
.row-img::after {
    content: "";
    clear: both;
    display: table;
}
.row-img img{
    width:60px;
}
.selection-choices {
    width:100%;
}
.distance-top {
    margin-top:32px;
}
.btn-outline-primary{
    margin-top: 25px !important;
    font-size:15px;
}
.column span {
    font-size:12px;
    text-align: center;
    width:100%;
}

figure.item {
    vertical-align: top;
    display: inline-block;
    text-align: center;
    width: 120px;
    padding:5px;

}
.caption {
    display: block;
    font-size:12px;
    color:#007bff;
}

.row-img:hover {
    background:#007bff;
    cursor: pointer;
    .caption {
        color:#fff;
    }
}

#create-referral{
    width: 427px !important;
}

// Start of bullet steps
@import '~compass-mixins/lib/compass/css3';

li {
  width: 2em;
  height: 2em;
  text-align: center;
  line-height: 2em;
  border-radius: 1em;
  background:dodgerblue;
  margin: 0 1em;
  display: inline-block;
  color: white;
  position: relative;
}

li::before{
  content: '';
  position: absolute;
  top: .8em;
  left: -4em;
  width: 4em;
  height: .4em;
  background: dodgerblue;
  z-index: -1;
}

.front-z-idx {
    z-index:1;
}

li:first-child::before {
  display: none;
}

.active {
    background: #fff;
    -webkit-box-shadow:inset 0 0 0 5px dodgerblue;
box-shadow:inset 0 0 0 5px dodgerblue;
    border-radius:1em;
}

.active ~ li {
  background: #c1c0bf;
}

.active ~ li::before {
  background: #c1c0bf;
  top:.8em;
}
ul.center {
    margin: 20px auto;
    width: 350px;
}

h4 {
    margin:15px 0;
}

/*Custom Check*/
/* The container */
.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 15px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default radio button */
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
  
  /* Create a custom radio button */
  .checkmark {
    position: absolute;
    top: 2px;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #eee;
    border-radius: 50%;
  }
  
  /* On mouse-over, add a grey background color */
  .container:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the radio button is checked, add a blue background */
  .container input:checked ~ .checkmark {
    background-color: #2196F3;
  }
  
  /* Create the indicator (the dot/circle - hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the indicator (dot/circle) when checked */
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the indicator (dot/circle) */
  .container .checkmark:after {
       top: 5px;
      left: 5px;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background: white;
  }
  td.list-item {
    padding: 10px 10px 0 10px !important;
  }