<script src="https://kit.fontawesome.com/e2e976ec77.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="https://unpkg.com/bs-stepper/dist/css/bs-stepper.min.css">
<script src="https://unpkg.com/bs-stepper/dist/js/bs-stepper.min.js"></script>

<div class="row justify-content-center">  
    <div class="col-5 front-z-idx">
        <h2 class="display-2 text-semi-bold">Create a Referral</h2>
        <h6 class="display-5 text-semi-bold">Step {{stateBullet}} of 4: referral type and date</h6>
        <ul class="center">
            <li [class.active]="isActive(1)"></li>
            <li [class.active]="isActive(2)"></li>
            <li [class.active]="isActive(3)"></li>
            <li [class.active]="isActive(4)"></li>
        </ul>  
        <ng-container [ngSwitch]="stateBullet">
            <section *ngSwitchCase="step.First">
                <div class="card">
                    <div class="card-body">
                        <div class="form-group">
                            <fieldset>
                                <legend class="st-label">Referral Type</legend>
                                <label class="st-custom-radio-img-label mr-2">
                                    <input type="radio" name="test" value="small" class="st-custom-img-radio" id="recurrenceOnce" [(ngModel)]="referralTransactionObject.ReferralTypeId" [value]="1">
                                    <img src="./../../../../../assets/css/img/referral-type-discipline-48x56.svg" alt="Create a one-time exception." style="width:128px; height:101px;" class="radio-image">
                                    <span>Discipline</span>
                                    <i class="fa fa-check"></i>
                                </label>
            
                                <label class="st-custom-radio-img-label mr-2">
                                    <input type="radio" name="test" value="big" class="st-custom-img-radio" id="recurrenceRecurring" [(ngModel)]="referralTransactionObject.ReferralTypeId" [value]="2">
                                    <img src="./../../../../../assets/css/img/referral-type-commendation-48x56.svg" alt="Create an ongoing exception." style="width:128px; height:101px;" class="radio-image">
                                    <span>Health/Wellness</span>
                                    <i class="fa fa-check"></i>
                                </label>
            
                                <label class="st-custom-radio-img-label">
                                    <input type="radio" name="test" value="big" class="st-custom-img-radio" id="recurrenceRecurring" [(ngModel)]="referralTransactionObject.ReferralTypeId" [value]="3">
                                    <img src="./../../../../../assets/css/img/referral-type-health-wellness-48x56.svg" alt="Create an ongoing exception." style="width:128px; height:101px;" class="radio-image">
                                    <span>Commendation</span>
                                    <i class="fa fa-check"></i>
                                </label>
                            </fieldset>
                        </div>
                        <div class="form-group">
                            <label class="st-label">Date of incident</label>
                            <input [(ngModel)]="referralTransactionObject.DateOfIncident" type="text" class="form-control" id="dateFrom" bsDatepicker [bsValue]="bsValue" [bsConfig]="{ showWeekNumbers:false, isAnimated: true }">
                        </div>
                    </div>
                </div>
            </section>
            <section *ngSwitchCase="step.Second">
                <h4>Student</h4>
                <div class="card">
                    <div class="card-body">
                        <div class="form-group">
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="firstname">First Name</label>
                                    <input type="text" class="form-control" id="firstname" [(ngModel)]="studentInformationModel.FirstName" placeholder="First Name">
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="lastname">Last Name</label>
                                    <input type="text" class="form-control" id="lastname" [(ngModel)]="studentInformationModel.LastName"  placeholder="Last Name">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="studentid">Student Id</label>
                            <input type="text" class="form-control" id="studentid" placeholder="Student Id" [(ngModel)]="studentInformationModel.Id"> 
                        </div>
                        <button type="submit" class="btn btn-outline-primary" (click)="searchStudentInformation()">Search</button>
                        <results-list [objects]="studentResults" (onOptionSelected)="handleSelectedStudent($event)"></results-list>
                    </div>
                </div>
            </section>
            <section *ngSwitchCase="step.Third">
                <h4>Driver Details</h4>
                <div class="card">
                    <div class="card-body">
                        <h4>Who was driving this route?</h4>
                        <div class="form-group">
                            <div class="form-row">
                                <div class="form-group col-md-9">
                                    <label for="driver">Driver</label>
                                    <input type="text" class="form-control" id="driver">
                                </div>
                                <div class="form-group col-md-3">
                                    <button type="submit" class="btn btn-outline-primary">Change</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <h4>Route Details</h4>
                <div class="card">
                    <div class="card-body">
                        <h4>What route did this incident occur on?</h4>
                        <div class="form-group">
                            <label class="st-label">Routes driven by selected driver on [date]</label>
                            <results-list [objects]="studentResults"></results-list>
                        </div>
                        <div class="form-group">
                            <label class="route">Route</label>
                            <input type="text" class="form-control" id="route" placeholder="" disabled>
                        </div>
                        <div class="form-group">
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="bus">Bus</label>
                                    <input type="text" class="form-control" id="bus" disabled>
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="shift">Shift</label>
                                    <input type="text" class="form-control" id="shift" disabled>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </section>
            <section *ngSwitchCase="step.Last">
                <div class="card">
                    <div class="card-body">
                        <h4>What are the reasons for this referral?</h4>
                        <div class="form-group">
                            <select class="form-control" id="exampleFormControlSelect1">
                                <option *ngFor="let r of referralReason" [value]="r.Id">{{r.ReferralReason}}</option>
                            </select>
                            <a href='#'>Add Another Referral Reason</a>
                        </div>
                        <h4>What preliminary actions did you take before writing this referral?</h4>
                        <div class="form-group">
                            <label class="st-label">Preliminary Actions</label>
                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="2"></textarea>
                        </div>
                        <h4>Describe, in detail, what happened.</h4>
                        <div class="form-group">
                            <label class="st-label">Description</label>
                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="7"></textarea>
                        </div>
                        <div class="form-group">
                            <label class="st-label">Privacy Data (this information will not show up on parent report)</label>
                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                        </div>
                    </div>
                </div>
            </section>
        </ng-container>
        
        <br>
        <div class="form-group">
            <button type="button" class="btn btn-primary" (click)="next();" *ngIf="stateBullet < 4">Next</button>
            <button type="button" class="btn btn-primary" (click)="create();" *ngIf="stateBullet === 4">Create Referral</button>
            <button type="button" class="btn btn-link" (click)="close()" *ngIf="stateBullet === 1">Cancel</button>
            <button type="button" class="btn btn-link" (click)="previous()" *ngIf="stateBullet > 1">Previous Step</button>
        </div>
    </div>
</div>