<h3 class="display-2 text-semi-bold">Driver Profile</h3>
<div class="row">
    <div class="col-4 mt-3">
        <h6>Driver Info</h6>
        <div class="card">
            <div class="driverform">
                <img src="./../../../../../assets/images/driver.jpg">
                <p>Driver Name</p>
                <h6 style="margin-left:20px;">Harris Mclean</h6>
                <p>Phone</p>
                <h6 style="margin-left:20px;">555-55555</h6>
                <p>Reports to</p>
                <h6 style="margin-left:20px;">Ryder Corona</h6>
                <button type="button" class="btn btn-outline-primary">Edit</button>
            </div>
        </div>
    </div>
    <div class="col-8 mt-3">
        <h6>Referrals</h6>
        <div class="card">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-striped" id="table-rgroup">
                        <thead>
                            <tr>
                                <th scope="col">Date</th>
                                <th scope="col">Student</th>
                                <th scope="col">Referral Type</th>
                                <th scope="col">Route</th>
                                <th scope="col">Status</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>11/20/2019</td>
                                <td>Andreas Crawford</td>
                                <td>Discipline</td>
                                <td>123 I'M A ROUTE AM 1</td>
                                <td><span class="badge badge-warning">Not Approved</span></td>
                                <td><a routerLink="/main/referral/view/1">View</a></td>
                            </tr>
                            <tr>
                                <td>11/20/2019</td>
                                <td>Harris Mclean</td>
                                <td>Discipline</td>
                                <td>123 I'M A ROUTE AM 1</td>
                                <td><span class="badge badge-warning">Not Approved</span></td>
                                <td><a routerLink="/main/referral/view/1">View</a></td>
                            </tr>
                            <tr>
                                <td>11/20/2019</td>
                                <td>Kiya Hurley</td>
                                <td>Discipline</td>
                                <td>123 I'M A ROUTE AM 1</td>
                                <td><span class="badge badge-danger">Action Required</span></td>
                                <td><a routerLink="/main/referral/view/1">View</a></td>
                            </tr>
                            <tr>
                                <td>11/20/2019</td>
                                <td>Lily-an Foley</td>
                                <td>Commendation</td>
                                <td>123 I'M A ROUTE AM 1</td>
                                <td><span class="badge badge-danger">Action Required</span></td>
                                <td><a routerLink="/main/referral/view/1">View</a></td>
                            </tr>
                            <tr>
                                <td>11/20/2019</td>
                                <td>Conall Rosales</td>
                                <td>Discipline</td>
                                <td>123 I'M A ROUTE AM 1</td>
                                <td><span class="badge badge-danger">Action Required</span></td>
                                <td><a routerLink="/main/referral/view/1">View</a></td>
                            </tr>
                            <tr>
                                <td>11/20/2019</td>
                                <td>Leyla Sanford</td>
                                <td>Discipline</td>
                                <td>123 I'M A ROUTE AM 1</td>
                                <td><span class="badge badge-success">Completed</span></td>
                                <td><a routerLink="/main/referral/view/1">View</a></td>
                            </tr>
                            <tr>
                                <td>11/20/2019</td>
                                <td>Rogan Cline</td>
                                <td>Commendation</td>
                                <td>123 I'M A ROUTE AM 1</td>
                                <td><span class="badge badge-success">Completed</span></td>
                                <td><a routerLink="/main/referral/view/1">View</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>