@import '../../../../../assets/css/smart-tag-styles.css';
@import '../../../../../assets/Content/animate.css';


p{
    margin-left: 20px;
}

h3{
    color: #5e5d5d;
}

h6{
    margin-top:20px;
    color: #5e5d5d;
}

th{
    font-family: Arial, Helvetica, sans-serif;
    color: #5e5d5d;
    font-size: 14px;
    font-weight: bolder;
}

tr{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

table{
    margin-top: -10px;
    width: 780px;
}

table tbody{
    border: 2px solid #ddd;
}

table thead{
    border: none;
}

.left-pane{
    width: 380px;
}

.right-pane{
    width: 850px;
}

.driverform{
    padding-left:20px;
    padding-top:20px;
    padding-bottom: 20px;
}

img{
    width: 160px;
    height: 150px;
    position: absolute;
    float: right;
    left: 190px;
    
}

button{
    margin-left: 20px;
    margin-top: 20px;
}