<script src="https://kit.fontawesome.com/e2e976ec77.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<h3 class="display-2 text-semi-bold">Students</h3>
<div class="row">
    <div class="col mt-3">
        <div class="card">
            <div class="card-header">
                <form class="form-inline">
                    <label for="student" class="studentName">Student Name</label>
                    <label for="studentid" class="studentid">Student ID</label>
                    <label for="campus" class="campus">Campus</label>
                    <label for="grade" class="grade">Grade</label>
                    <label for="minreferral" id="minref">Min. Referrals</label>
                    <label for="maxreferral" id="maxref">Max. Referrals</label>
                </form>
                <form class="form-inline">
                    <input type="text" class="form-control" id="student">
                    <input type="text" class="form-control" id="studentid">
                    <input type="text" class="form-control" id="campus">
                    <input type="text" class="form-control" id="grade">
                    <input type="text" class="form-control" id="minreferral">
                    <input type="text" class="form-control" id="maxreferral">
                    <button type="button" class="btn btn-primary" id="search">Search</button>
                </form>
            </div>
            <div class="card-body">
                <div class="table-responsive-sm">
                    <table class="table table-striped" mat-table #table [dataSource]="dataSource" matSort>
                        <thead>
                            <ng-container matColumnDef="Student">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Student</th>
                                <td mat-cell *matCellDef="let element"> {{element.Student }} </td>
                            </ng-container>

                            <ng-container matColumnDef="StudentId">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Student Id</th>
                                <td mat-cell *matCellDef="let element"> {{element.StudentId }} </td>
                            </ng-container>
            
                            <ng-container matColumnDef="CampusName">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Campus </th>
                                <td mat-cell *matCellDef="let element">{{ element.CampusName }} </td>
                            </ng-container>
                            
                            <ng-container matColumnDef="Grade">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Grade </th>
                                <td mat-cell *matCellDef="let element">{{ element.Grade }} </td>
                            </ng-container>

                            <ng-container matColumnDef="DateOfBirth">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> DOB </th>
                                <td mat-cell *matCellDef="let element">{{ element.DateOfBirth | date: 'MM/dd/yyyy' }} </td>
                            </ng-container>
                            
                            <ng-container matColumnDef="View">
                                <th mat-header-cell *matHeaderCellDef class="columnSpace">  </th>
                                <td mat-cell *matCellDef="let element" class="columnSpace">
                                    <button type="button" class="btn btn-link" id="btnView">View</button>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="Create">
                                <th mat-header-cell *matHeaderCellDef class="columnSpace">  </th>
                                <td mat-cell *matCellDef="let element" class="columnSpace">
                                    <button type="button" class="btn btn-link" id="btnView">Create Referral</button>
                                </td>
                            </ng-container>

                            <!-- <ng-container matColumnDef="Status">
                                <th mat-header-cell *matHeaderCellDef class="columnSpace">  </th>
                                <td mat-cell *matCellDef="let element" class="columnSpace">
                                    <button type="button" class="btn btn-link" id="btnView">View</button>
                                </td>
                            </ng-container> -->
            
                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        </thead>
                        <tbody>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                        </tbody>
                    </table>
                </div>
                <mat-paginator [pageSizeOptions]="[10, 25, 50, 100]" showFirstLastButtons></mat-paginator>
            </div>
        </div>        
    </div>
</div>