﻿/* -----------------------

    IMPORT FONT FAMILIES

   ----------------------- */

/* Heebo */
@import url('https://fonts.googleapis.com/css?family=Heebo:400,500,700&display=optional');
$font-stack-heebo: 'Heebo', Verdana, Geneva, sans-serif;

/* Ensure all <i> with the "fa" class use the FontAwesome font */
i.fa { font-family: FontAwesome; }

.st-semi-bold {
    font-weight:500;
}