﻿/* -----------------------

      SMART tag COLORS

   ----------------------- */

/* WHITE */
$white: #ffffff;

/* YELLOWS */
$yellow-100: #fff2d4;
$yellow-200: #f7e6bf;
$yellow-300: #f7dca1;
$yellow-400: #ffc655;
$yellow-500: #ffb000;
$yellow-600: #bf7600;
$yellow-700: #7f4909;
$yellow-800: #4c2906;
$yellow-900: #1c0f03;

.text-yellow-200 {
    color: $yellow-200;
}

.text-yellow-300 {
    color: $yellow-300;
}

.text-yellow-400 {
    color: $yellow-400;
}

.text-yellow-500 {
    color: $yellow-500;
}

.text-yellow-600 {
    color: $yellow-600;
}

.text-yellow-700 {
    color: $yellow-700;
}

.text-yellow-800 {
    color: $yellow-800;
}

.bg-yellow-200 {
    background-color: $yellow-200;
}

.bg-yellow-300 {
    background-color: $yellow-300;
}

.bg-yellow-400 {
    background-color: $yellow-400;
}

.bg-yellow-500 {
    background-color: $yellow-500;
}

.bg-yellow-600 {
    background-color: $yellow-600;
}

.bg-yellow-700 {
    background-color: $yellow-700;
}

.bg-yellow-800 {
    background-color: $yellow-800;
}

/* GRAYS */
$gray-100: #f4f3f2;
$gray-200: #e5e3df;
$gray-300: #aaa8a7;
$gray-400: #757574;
$gray-500: #5b5a57;
$gray-600: #3f3f3d;
$gray-700: #2d2c2b;
$gray-800: #161616;
$gray-900: #0c0c0c;

.text-gray-200 {
    color: $gray-200;
}

.text-gray-300 {
    color: $gray-300;
}

.text-gray-400 {
    color: $gray-400;
}

.text-gray-500 {
    color: $gray-500;
}

.text-gray-600 {
    color: $gray-600;
}

.text-gray-700 {
    color: $gray-700;
}

.text-gray-800 {
    color: $gray-800;
}

.bg-gray-200 {
    background-color: $gray-200;
}

.bg-gray-300 {
    background-color: $gray-300;
}

.bg-gray-400 {
    background-color: $gray-400;
}

.bg-gray-500 {
    background-color: $gray-500;
}

.bg-gray-600 {
    background-color: $gray-600;
}

.bg-gray-700 {
    background-color: $gray-700;
}

.bg-gray-800 {
    background-color: $gray-800;
}

/* BLUES */
$blue-100: #dce9f9;
$blue-200: #aacfe8;
$blue-300: #6eaae5;
$blue-400: #4389ed;
$blue-500: #275fff;
$blue-600: #0c3daa;
$blue-700: #002984;
$blue-800: #031442;
$blue-900: #040714;

.text-blue-200 {
    color: $blue-200;
}

.text-blue-300 {
    color: $blue-300;
}

.text-blue-400 {
    color: $blue-400;
}

.text-blue-500 {
    color: $blue-500;
}

.text-blue-600 {
    color: $blue-600;
}

.text-blue-700 {
    color: $blue-700;
}

.text-blue-800 {
    color: $blue-800;
}

.bg-blue-200 {
    background-color: $blue-200;
}

.bg-blue-300 {
    background-color: $blue-300;
}

.bg-blue-400 {
    background-color: $blue-400;
}

.bg-blue-500 {
    background-color: $blue-500;
}

.bg-blue-600 {
    background-color: $blue-600;
}

.bg-blue-700 {
    background-color: $blue-700;
}

.bg-blue-800 {
    background-color: $blue-800;
}

/* REDS */
$red-200: #ffd2d3;
$red-800: #800f13;

/* GREENS */
$green-200: #d4fbc7;
$green-800: #223e0f;

/* -----------------------

    END SMART tag COLORS

   ----------------------- */
