/* You can add global styles to this file, and also import other style files */
@import 'assets/css/smart-tag-styles.css';
@import 'assets/Content/animate.css';
@import 'assets/Content/st-partials/st-base';

:root, body {
  font-family: $font-stack-heebo;
  color: $gray-800;
  background-color: #F4F3F2 !important;
}

.theme-green .bs-datepicker-head {
  background-color: #3F3F3D !important;
}

.bs-datepicker-head button {
  background-color: #5B5A57 !important;
}

.bs-datepicker-body table td {
  color: #000 !important;
}

.bs-datepicker-head button:hover {
  background-color: #007bff !important;
}

.bs-datepicker-body table th {
  color: #898888 !important;
}

.theme-green .bs-datepicker-body table td span.selected, .theme-green
.bs-datepicker-body table td.selected span,
.theme-green .bs-datepicker-body table td span[class*="select-"]::before,
.theme-green .bs-datepicker-body table td[class*="select-"] span::before {
  background-color: #E9F7FF !important;
}

.theme-green .bs-datepicker-body table td span.selected, .theme-green
.bs-datepicker-body table td.selected span,
.theme-green .bs-datepicker-body table td span[class*="select-"]:after,
.theme-green .bs-datepicker-body table td[class*="select-"] span:after {
  background-color: #007bff !important;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
