<script src="https://kit.fontawesome.com/e2e976ec77.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<h3 class="display-2 text-semi-bold">Referrals</h3>
<div class="row">
    <div class="col mt-3">
      <div class="st-section-header">
            <a routerLink="/main/referral/create" class="btn btn-primary">Create a referral</a>
      </div>
      <div class="card">
        <div class="card-header">
            <form class="form-inline">
                <label for="datefrom" class="datefrom">Date From</label>
                <label for="dateto" class="dateto">Date To</label>
                <label for="rtype" class="rtype">Referral Type</label>
                <label for="student" class="student">Student Name</label>
                <label for="status" class="status">Status</label>
            </form>
            <form class="form-inline">
                <input type="text" class="form-control" id="dateFrom" bsDatepicker [bsValue]="bsValue" [bsConfig]="{ showWeekNumbers:false, isAnimated: true }">
                <input type="text" class="form-control" id="dateTo" bsDatepicker [bsValue]="bsValue" [bsConfig]="{ showWeekNumbers:false, isAnimated: true }">
                <select class="form-control" id="rtype">
                    <option></option>
                    <option>Discipline</option>
                    <option>Commendation</option>
                    <option>Health/Wellness</option>
                </select>
                <input type="text" class="form-control" id="student" placeholder="Student Name">
                <select class="form-control" id="status">
                    <option></option>
                    <option>Completed</option>
                    <option>Not Approved</option>
                    <option>Action Required</option>
                </select>
                
                <button type="button" class="btn btn-primary" id="search">Search</button>
            </form>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-striped" mat-table #table [dataSource]="dataSource" matSort>
                    <thead>
                        <ng-container matColumnDef="Date">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Date</th>
                            <td mat-cell *matCellDef="let element"> {{element.DateOfIncident | date: 'MM/dd/yyyy' }} </td>
                        </ng-container>

                        <ng-container matColumnDef="Student">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Student</th>
                            <td mat-cell *matCellDef="let element"> {{element.Student }} </td>
                        </ng-container>
        
                        <ng-container matColumnDef="ReferralType">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Referral Type </th>
                            <td mat-cell *matCellDef="let element">{{ element.ReferralType }} </td>
                        </ng-container>

                        <ng-container matColumnDef="Campus">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Campus </th>
                            <td mat-cell *matCellDef="let element">{{ element.CampusName }} </td>
                        </ng-container>

                        <ng-container matColumnDef="Driver">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Driver </th>
                            <td mat-cell *matCellDef="let element">{{ element.DriverName }} </td>
                        </ng-container>

                        <ng-container matColumnDef="Route">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Route </th>
                            <td mat-cell *matCellDef="let element">{{ element.RouteName }} </td>
                        </ng-container>

                        <ng-container matColumnDef="Status">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
                            <td mat-cell *matCellDef="let element"><span class="badge badge-warning">{{ mapStatusData(element.ReferralStatus)?.name }}</span> </td>
                        </ng-container>
        
                        <ng-container matColumnDef="View">
                            <th mat-header-cell *matHeaderCellDef class="columnSpace">  </th>
                            <td mat-cell *matCellDef="let element" class="columnSpace">
                                <button type="button" class="btn btn-link" id="btnView">View</button>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="Edit">
                            <th mat-header-cell *matHeaderCellDef class="columnSpace">  </th>
                            <td mat-cell *matCellDef="let element" class="columnSpace">
                                <button type="button" class="btn btn-link" id="btnView">Edit</button>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="Delete">
                            <th mat-header-cell *matHeaderCellDef class="columnSpace">  </th>
                            <td mat-cell *matCellDef="let element" class="columnSpace">
                                <button type="button" class="btn btn-link" id="btnView">Delete</button>
                            </td>
                        </ng-container>
        
                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    </thead>
                    <tbody>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </tbody>
                </table>
            </div>
            <mat-paginator [pageSizeOptions]="[10, 25, 50, 100]" showFirstLastButtons></mat-paginator>
        </div>
      </div>
    </div>
</div>