@import '../../../../assets/css/smart-tag-styles.css';
@import '../../../../assets/Content/animate.css';

h3{
    color: #5e5d5d;
}

th{
    font-family: Arial, Helvetica, sans-serif;
    color: #5e5d5d;
    font-size: 14px;
    font-weight: bolder;
}

tr{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

label{
    color: white;
    padding-top: 20px;
    padding-left: 20px;
    padding-bottom: 10px;
    font-size: small;
}

.custom-select{
    width: 150px;
}

#refType{
    margin-left: -50px;
}

#dateFrom{
    width: 130px;
}

#dateTo{
    width: 130px;
    margin-left: 10px;
}

#student{
    margin-left: 10px;
}

.studentid{
    margin-left: 120px;
}

.campus{
    margin-left: 55px;
}

.grade{
    margin-left: 65px;
}

.datefrom{
    margin-left: -15px;
}

.dateto{
    margin-left: 60px;
}

.rtype{
    margin-left: 80px;
}

.student{
    margin-left: 75px;
}

.status{
    margin-left: 110px;
}

#rtype{
    margin-left: 10px;
    width: 150px;
}

#status{
    margin-left: 10px;
    width: 150px;
}

#search{
    margin-left: 10px;
    width: 90px;
}

table{
    margin-top: -10px;
    min-width: 640px;
    max-width: 1240px;
}

table tbody{
    border: 2px solid #ddd;
}

table thead{
    border: none;
}

#datefrom{
    width: 100px;
    margin-left: 20px;
}

#dateto{
    width: 100px;
    margin-left: 10px;
}