<script src="https://kit.fontawesome.com/e2e976ec77.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<div class="row">
    <div class="col-5 mt-2">
        <div class="referral-container">
            <div class="form-group">
                <h4>Edit Referral</h4>
            </div>
            <div class="form-group">
                <label class="st-label">Date of incident</label>
                <input type="text" class="form-control" id="dateFrom" bsDatepicker [bsValue]="bsValue" [bsConfig]="{ showWeekNumbers:false, isAnimated: true }">
            </div>
            <div class="form-group">
                <label class="st-label">Student</label>
            </div>
            <div class="form-row">
                <div class="form-group col-md-9">
                    <input type="text" class="form-control" id="student" value="Keventa Skinner" disabled>
                </div>
                <div class="form-group col-md-3">
                    <button type="button" class="btn btn-outline-primary">Change</button>
                </div>
            </div>
            <div class="form-group">
                <label class="st-label">Driver</label>
            </div>
            <div class="form-row">
                <div class="form-group col-md-9">
                    <input type="text" class="form-control" id="driver" value="John Deere" disabled>
                </div>
                <div class="form-group col-md-3">
                    <button type="button" class="btn btn-outline-primary">Change</button>
                </div>
            </div>
            <div class="form-group">
                <label class="st-label">Route</label>
            </div>
            <div class="form-row">
                <div class="form-group col-md-9">
                    <input type="text" class="form-control" id="route" value="123 Kiko AM 1" disabled>
                </div>
                <div class="form-group col-md-3">
                    <button type="button" class="btn btn-outline-primary">Change</button>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label class="st-label">Bus</label>
                    <input type="text" class="form-control" id="bus">
                </div>
                <div class="form-group col-md-6">
                    <label class="st-label">Shift</label>
                    <input type="text" class="form-control" id="shift">
                </div>
            </div>
            <div class="form-group">
                <label class="st-label">Referral Reasons</label>
                <select class="form-control" id="exampleFormControlSelect1">
                    <option>Violation of safety procedures</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                </select>
                <br>
                <select class="form-control" id="exampleFormControlSelect1">
                    <option>Excessive mischief</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                </select>
                <br>
                <select class="form-control" id="exampleFormControlSelect1">
                    <option>Rude-discorteous-annoying</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                </select>
                <br>
                <select class="form-control" id="exampleFormControlSelect1">
                    <option>Fighting-pushing-tripping</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                </select>
                <a href="#">Add Another Referral Reasons</a>
            </div>
            <div class="form-group">
                <label class="st-label">Preliminary actions taken by driver</label>
                <textarea name="preliminary" id="preliminary"  cols="9" rows="3" class="form-control">I verbally asked the student to stop acting out on multiple occasions prior to this one
                </textarea>
            </div>
            <div class="form-group">
                <label class="st-label">Description of incident</label>
                <textarea name="description" id="description" cols="30" rows="8" class="form-control">While approaching the bus at Tarver Dock, Keventa pushed a younger, female student. After getting on the bus the safety trainer called him off the bus to talk to him about the incident. After getting back on the bus, while in route, Keventa reached across the aisle and pulled a female student's hair. Later, Keventa was laying in the floor. After getting him to site in his seat at the next stop he switched seats without permission.
                </textarea>
            </div>
            <div class="form-group">
                <label class="st-label">Privacy Data (this information will not show up on parent report)</label>
                <textarea name="privacy" id="privacy" cols="9" rows="3" class="form-control">Jessica Black was the student pushed, and Mary Beth was the student whose hair he pulled.</textarea>
            </div>
            <div class="form-group">
                <button type="button" class="btn btn-primary">Save</button>
                <button type="button" class="btn btn-link" (click)="close()">Cancel</button>
            </div>
        </div>
    </div>
</div>