@import '../../../../../assets/css/smart-tag-styles.css';
@import '../../../../../assets/Content/animate.css';


h3{
    color: #5e5d5d;
}

button{
    margin-right: 15px;
    font-weight:500;
}

a, p{
    font-size: 14px;
}

.referral-container{
    background: #FFFFFF;
    box-shadow: 0px 1px 2px #888888;
    border-radius: 4px;
    padding: 20px;
}