<script src="https://kit.fontawesome.com/e2e976ec77.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<h3 class="display-2 text-semi-bold">Setup</h3>
<div class="row">
    <div class="col-6 mt-3">
        <div class="st-section-header">
            <h2>Referral Reasons <i class="fas fa-info-circle" data-toggle="tooltip" data-placement="bottom" title="This is a tooltip"></i></h2>
        </div>
        <div>
            <button type="button" class="btn btn-primary" (click)="openDialogRR('Create',null)">
                Create a referral reason
            </button>
        </div>
        <div class="card">
            <div class="card-body">
                <div class="table-responsive-sm">
                    <table class="table table-striped" mat-table #table [dataSource]="dataSource" matSort>
                        <thead>
                            <ng-container matColumnDef="ReferralReason">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Referral Reason</th>
                                <td mat-cell *matCellDef="let element"> {{element.ReferralReason }} </td>
                            </ng-container>

                            <ng-container matColumnDef="ReferralType">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Referral Type</th>
                                <td mat-cell *matCellDef="let element"> {{element.ReferralType }} </td>
                            </ng-container>
            
                            <ng-container matColumnDef="IsActive">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>  </th>
                                <td mat-cell *matCellDef="let element"><span class="badge badge-success">{{ mapActiveStatusData(element.IsActive)?.name }}</span> </td>
                            </ng-container>
            
                            <ng-container matColumnDef="Actions">
                                <th mat-header-cell *matHeaderCellDef class="columnSpace">  </th>
                                <td mat-cell *matCellDef="let element" class="columnSpace">
                                    <button type="button" class="btn btn-link" id="btnEdit" (click)="openDialogRR('Edit',element)">Edit</button>
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="Delete">
                                <th mat-header-cell *matHeaderCellDef class="columnSpace">  </th>
                                <td mat-cell *matCellDef="let element" class="columnSpace">
                                    <button type="button" class="btn btn-link" id="btnDelete">Delete</button>
                                </td>
                            </ng-container>
            
                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        </thead>
                        <tbody>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                        </tbody>
                    </table>
                </div>
                <mat-paginator [pageSizeOptions]="[10, 25, 50, 100]" showFirstLastButtons></mat-paginator>
            </div>
        </div>
    </div>
    <div class="col-6 mt-3">
        <div class="st-section-header">
            <h2>Referral Actions <i class="fas fa-info-circle" data-toggle="tooltip" data-placement="bottom" title="This is a tooltip"></i></h2>
        </div>
        <div>
            <button type="button" class="btn btn-primary" (click)="openDialogRA('Create',null)">
                Create a referral action
            </button>
        </div>
        <div class="card">
            <div class="card-body">
                <div class="table-responsive-sm">
                    <table class="table table-striped" mat-table #table [dataSource]="dataSourceRA" matSort>
                        <thead>
                            <ng-container matColumnDef="ReferralAction">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Referral Action</th>
                                <td mat-cell *matCellDef="let element"> {{element.ReferralAction }} </td>
                            </ng-container>

                            <ng-container matColumnDef="ReferralType">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Referral Type</th>
                                <td mat-cell *matCellDef="let element"> {{element.ReferralType }} </td>
                            </ng-container>
            
                            <ng-container matColumnDef="IsActive">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>  </th>
                                <td mat-cell *matCellDef="let element"><span class="badge badge-success">{{ mapActiveStatusData(element.IsActive)?.name }} </span></td>
                            </ng-container>
            
                            <ng-container matColumnDef="Actions">
                                <th mat-header-cell *matHeaderCellDef class="columnSpace">  </th>
                                <td mat-cell *matCellDef="let element" class="columnSpace">
                                    <button type="button" class="btn btn-link" id="btnEdit" (click)="openDialogRA('Edit',element)">Edit</button>
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="Delete">
                                <th mat-header-cell *matHeaderCellDef class="columnSpace">  </th>
                                <td mat-cell *matCellDef="let element" class="columnSpace">
                                    <button type="button" class="btn btn-link" id="btnDelete">Delete</button>
                                </td>
                            </ng-container>
            
                            <tr mat-header-row *matHeaderRowDef="displayedColumns2"></tr>
                        </thead>
                        <tbody>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns2;"></tr>
                        </tbody>
                    </table>
                </div>
                <mat-paginator [pageSizeOptions]="[10, 25, 50, 100]" showFirstLastButtons></mat-paginator>
            </div>
        </div>
    </div>
</div>

 <!-- Modal -->
 <div class="modal fade" id="reasonModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Create Referral Reason</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label class="st-label">Name</label>
                        <input type="text" class="form-control" id="reason" placeholder="Enter Referral Reason">
                    </div>
                    <div class="form-group">
                        <label class="st-label">Referral Type</label>
                        <select class="form-control" id="exampleFormControlSelect1">
                            <option>Discipline</option>
                            <option>Commendation</option>
                            <option>Health and Wellness</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <div class="checkbox"> 
                            <label><input class="check_list" name="check_list[]" type="checkbox" checked> Active</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <button type="button" class="btn btn-primary">Create</button>&nbsp;
                        <button type="button" class="btn btn-link" data-dismiss="modal">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="actionModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                    <h3 class="modal-title">Create Referral Action</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label class="st-label">Name</label>
                        <input type="text" class="form-control" id="rAction" placeholder="Enter Referral Action">
                    </div>
                    <div class="form-group">
                        <label class="st-label">Referral Type</label>
                        <select class="form-control" id="exampleFormControlSelect1">
                            <option>Discipline</option>
                            <option>Commendation</option>
                            <option>Health and Wellness</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <div class="checkbox"> 
                            <label><input class="check_list" name="check_list[]" type="checkbox" checked> Active</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <button type="button" class="btn btn-primary">Create</button>&nbsp;
                        <button type="button" class="btn btn-link" data-dismiss="modal">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="./../../../../assets/js/st-modal.js"></script>