@import '../../../../assets/css/smart-tag-styles.css';
@import '../../../../assets/Content/animate.css';

h3{
    color: #5e5d5d;
}

h6{
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #5e5d5d;
    margin-top: 20px;
}

th{
    font-family: Arial, Helvetica, sans-serif;
    color: #5e5d5d;
    font-size: 14px;
    font-weight: bolder;
}

tr{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

table{
    margin-top: -10px;
}

table tbody{
    border: 2px solid #ddd;
}

table thead{
    border: none;
}

button{
    margin-top: 5px;
    margin-bottom: 20px;
}

.left-pane{
    max-width: 600px;
}

.right-pane{
    max-width: 1200px;
    margin-left: -30px;
}

#btnEdit{
    margin:-10px;
}

#btnDelete{
    margin:-10px;
}

@media (min-width: 481px) {
    .left-pane { grid-template-columns: repeat(2, 1fr); }
    .right-pane {margin-left: 0;}
  }

.modal-footer{
    float: left !important;
}