<div class="form-group">
    <label>Search Results</label>
    <div class="table-wrapper-scroll-y my-custom-scrollbar">
        <table class="table table-striped table-bordered mb-0">
            <tbody>
                <tr *ngFor="let o of objects">
                    <td class="list-item">
                        <label class="container">{{ o.DisplayName }}
                            <input type="radio" checked="checked" name="radio" [value]="o.Id" (click)="select(o)">
                            <span class="checkmark"></span>
                        </label>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>