﻿/*  
    The ST Stepper is a simple component used to visualize progress through a process
    Currently supports 4 and 5 step processes
    Refer to the registration process for an example
*/

.st-stepper-container {
    position: relative;
    width: 100%;
    height: 30px;
    text-align: center;
    padding: 0 5%;
}

.st-stepper {
    position: absolute;
    width: 90%;
    height: 100%;
}

.st-stepper-line {
    position: absolute;
    display: inline-block;
    background: $yellow-300;
    width: 100%;
    height: 20%;
    left: 0;
    top: 40%;
}

.st-stepper-line-progress {
    position: absolute;
    display: inline-block;
    background: $yellow-800;
    height: 20%;
    left: 0;
    top: 40%;
}

.st-step {
    position: absolute;
    display: inline-block;
    background: $yellow-300;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    z-index: 1;
}

.st-step-complete {
    background: $yellow-800;
}

.st-step-active {
    background: $white;
    border: $yellow-800 solid 6px;
}

/* 4 step specific formatting */
.st-stepper4 {
    .st-stepper-progress-2 {
        width: 33%;
    }

    .st-stepper-progress-3 {
        width: 66%;
    }

    .st-stepper-progress-4 {
        width: 100%;
    }

    .st-step:nth-child(1) {
        left: 0;
        margin-left: -15px;
    }

    .st-step:nth-child(2) {
        left: 33%;
        margin-left: -15px;
    }

    .st-step:nth-child(3) {
        right: 33%;
        margin-right: -15px;
    }

    .st-step:nth-child(4) {
        right: 0;
        margin-right: -15px;
    }
}

/* 5 step specific formatting */
.st-stepper5 {
    .st-stepper-progress-2 {
        width: 25%;
    }

    .st-stepper-progress-3 {
        width: 50%;
    }

    .st-stepper-progress-4 {
        width: 75%;
    }

    .st-stepper-progress-5 {
        width: 100%;
    }

    .st-step:nth-child(1) {
        left: 0;
        margin-left: -15px;
    }

    .st-step:nth-child(2) {
        left: 25%;
        margin-left: -15px;
    }

    .st-step:nth-child(3) {
        left: 50%;
        margin-left: -15px;
    }

    .st-step:nth-child(4) {
        right: 25%;
        margin-right: -15px;
    }

    .st-step:nth-child(5) {
        right: 0%;
        margin-right: -15px;
    }
}