﻿

/* -----------------------

CUSTOM CHECK BOXES

   ----------------------- */

/* HIDE RADIO */
fieldset.st-custom-checkbox-weekdays {
    width: 100%;
}

label.st-custom-checkbox-label {
    position: relative;
}

fieldset.st-custom-checkbox-weekdays .st-custom-checkbox-label {
    box-sizing: border-box;
    width: 18%;
}

.st-custom-checkbox {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
    margin: 0;
    padding: 0;
}

.st-custom-checkbox ~ i {
    position: absolute;
    right: .3rem;
    top: .3rem;
    color: #fce6b1;
    display: none;
}

/* CHECKED STYLES */
.st-custom-checkbox:checked ~ i {
    display: inline;
    font-size: .8rem;
}

/* IMAGE STYLES */
.st-custom-checkbox + span {
    cursor: pointer;
    border: 1px solid #007BFF;
    font-size: 1.25rem;
    padding: 0;
    margin: 0;
    display: inline-block;
    text-align: center;
    color: #007BFF;
    width: 100%;
    height: 60px;
    box-sizing: border-box;
    line-height: 56px;
    vertical-align: middle;
    border-radius: .25rem;
}

label:first-child + span {
    border-radius: .25rem 0 0 .25rem;
}

label:last-child + span {
    border-radius: 0 .25rem .25rem 0;
}

/* CHECKED STYLES */
.st-custom-checkbox:checked + span {
    background: #007BFF;
    color: #fff;
}

/* IMAGE STYLES */
.st-custom-checkbox + span:hover {
    @include box-shadow(0 0 8px rgba(0,123,255,.6));
    border-color: #0069d9;
}

/* IMAGE STYLES */
.st-custom-checkbox:checked + span:hover {
    @include box-shadow(0 0 8px rgba(0,123,255,.6));
    background: #007BFF;
}

/* IMAGE STYLES */
.st-custom-checkbox:focus + span:hover {
    @include box-shadow(0 0 8px rgba(0,123,255,.6));
}

/* IMAGE STYLES */
.st-custom-checkbox:focus + span {
    @include box-shadow(0 0 8px rgba(0,123,255,.6));
}
