﻿/* ICONS */
.st-icon-lg {
    max-width: 48px;
    max-height: 48px;
}

.st-icon-md {
    max-width: 32px;
    max-height: 32px;
}

.st-icon-sm {
    max-width: 24px;
    max-height: 24px;
}

.st-icon-xs {
    max-width: 16px;
    max-height: 16px;
}
