﻿.st-toggle {
    align-items: center;
    display: flex;
    align-content: flex-start;
}

.st-toggle__label {
    /*color: #232329;
    font-size: 12px;
    line-height: 18px;*/
    flex-grow:1;
}

.st-toggle__input {
    opacity: 0;
    position: absolute;
    z-index: -1;
}

// .st-toggle__container {
//     display: block;
//     background: url("./img/st-toggle-background.svg") 61px 30px #E8E7E6;
//     padding: 1px;
//     border-radius: 15px;
//     height: 30px;
//     transition: background-color 300ms ease;
//     flex: 0 0 61px;
//     width: 61px;
//     margin-left:auto;
//     cursor:pointer;

//     :focus + & {
//         @include box-shadow(0 0 8px rgba(0,123,255,.6));
//     }

//     :checked + & {
//         background-color: #007bff;
//         border-color: #007bff;
//     }
// }

.st-toggle__knob {
    display: block;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.3);
    height: 28px;
    width: 28px;
    transition: transform 300ms ease;

    :checked + .st-toggle__container > & {
        transform: translateX(31px)
    }
}