/*
    This file is for the styling of the custom SMART tag modals
*/

.modal.fade{
    opacity:1;
}

.modal.fade .modal-dialog {
    @include transform(translate(0));
}

.modal-dialog.animated {
    @include animation-duration(0.2s);
    @include animation-fill-mode(both);
}

.modal-backdrop {
    display:none;
}

.modal-backdrop-transparent {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: transparent;
    opacity: 0;
    width: 100%;
    height: 100%;
    z-index: -1000;
}

.modal-backdrop-primary {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0,0,0,0.8);
    opacity: 0.6;
    width: 100%;
    height: 100%;
    z-index: 1040;
}

.modal-transition {
    transition: all 0.4s ease;
}

.modal-content {
    box-shadow: 0 2px 4px rgba(68,68,68,0.6) !important;
    border:none !important;
}

.st-modal-xl {
    text-align: center;
    
    .modal-dialog {
        max-width: 1140px;
        display:inline-block;
    }
}